.offcanvas.offcanvas-start,
.offcanvas.offcanvas-end {
    width: 50%;
}

.offcanvas.offcanvas-top {
    height: 50%;
}

.table {
    --bs-table-striped-bg: lightgray;
}

td {

    vertical-align: middle;

}