.offcanvas.offcanvas-start,
.offcanvas.offcanvas-end {
    width: calc(1.25 * var(--bs-offcanvas-width));
}

.offcanvas.offcanvas-top {
    height: calc(1.5 * var(--bs-offcanvas-height));
}

.chart-container {
    min-width: 500px;
}

.table {
    --bs-table-striped-bg: lightgray;
}

td {

    vertical-align: middle;

}