{% extends "layout.html" %}
<!-- enter the page title here!-->
{% block title %} Add Productions {% endblock %}
<!-- and again here!-->
{% block navbar_title %} Add Productions {% endblock %}
<!--head-->
{% block head %}
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"
></script>
<script>
  function recipeChange(selectedValue) {
    const hiddenSelects = document.querySelectorAll(".recipe-select");
    hiddenSelects.forEach(function (select) {
      select.hidden = true;
      select.removeAttribute("required");
    });
    const selectedHiddenSelect = document.getElementById(
      `recipe-${selectedValue}`
    );
    if (selectedHiddenSelect) {
      selectedHiddenSelect.hidden = false;
      selectedHiddenSelect.setAttribute("required", "required");
      const labelForRecipe = document.querySelector(
        `label[for="recipe"][hidden]`
      );
      if (labelForRecipe) {
        labelForRecipe.removeAttribute("hidden");
      }
    }
  }
</script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    function updateField() {
      const BatchNumbers = [{% for production in productions %}"{{ production.print_batch }}", {%endfor %}];
      const productionDateValue =
        document.getElementById("production_date").value;
      const productionTypeValue =
        document.getElementById("production_types").value;
      const selectedDate = new Date(productionDateValue);
      const year = selectedDate.getFullYear().toString().slice(-2);
      const month = (selectedDate.getMonth() + 1).toString().padStart(2, "0");
      const date = selectedDate.getDate().toString().padStart(2, "0");
      const typeid = productionTypeValue.toString().padStart(3, "0");
      if (!productionDateValue) {
        return;
      }
      let counter = 1;
      // Construct the string with the selected values
      let batchNumber = `${year}${month}${date}${typeid}${counter
        .toString()
        .padStart(2, "0")}`;
      while (BatchNumbers.includes(batchNumber)) {
        counter++;
        batchNumber = `${year}${month}${date}${typeid}${counter
          .toString()
          .padStart(2, "0")}`;
      }
      // Update the field above the button
      document.getElementById("batch_number").value = batchNumber;
      document.getElementById("batch-number").value = batchNumber;
    }
    // Add an event listener to trigger the updateField function when dropdown values change
    document
      .getElementById("production_date")
      .addEventListener("change", updateField);
    document
      .getElementById("production_types")
      .addEventListener("change", updateField);
  });
</script>
{% endblock %}
<!--body-->
{%block main %}
<div class="container mx-auto text-center my-4">
  <div class="row justify-content-md-center">
    <div class="col chart-container">
      <canvas
        id="materialChart"
        style="max-width: 700px; display: inline"
      ></canvas>
    </div>
    <div class="col chart-container">
      <canvas
        id="productionChart"
        style="max-width: 700px; display: inline"
      ></canvas>
    </div>
  </div>
  <div class="container mx-auto mt-5">
    <form method="POST" action="{{url_for('productions.add_production')}}">
      <div class="row justify-content-md-center">
        <div class="col-md-auto">
          <div class="form-floating">
            <select
              class="form-select"
              id="production_types"
              name="production_types"
              onchange="recipeChange(this.value);"
              required
            >
              <option selected disabled value="">
                Select a Production Type
              </option>
              {% for ptype in ptypes %}
              <option value="{{ ptype.id }}">{{ ptype.name }}</option>
              {% endfor %}
            </select>
            <label for="production_types">Production Type</label>
          </div>
          <div class="form-floating">
            <input
              class="form-select recipe-select"
              id="recipe-0"
              name="recipe"
              readonly
            />
            {% for ptype in ptypes %}<select
              class="form-select recipe-select"
              id="recipe-{{ptype.id}}"
              name="recipe"
              hidden
            >
              <option value="" disabled selected>Select a recipe</option>
              {% for recipe in recipes %}{% if recipe.production_type ==
              ptype.id %}
              <option value="{{recipe.id}}">{{recipe.name}}</option>
              {% endif %}{% endfor %}</select
            >{% endfor %}
            <label for="recipe-0">Recipe</label>
          </div>
        </div>
        <div class="col-md-auto">
          <div class="form-floating">
            <input
              class="form-control"
              type="number"
              min="1"
              id="quantity"
              name="quantity"
              required
            />
            <label for="quantity">Production Quantity</label>
          </div>
          <div class="form-floating">
            <input
              class="form-control"
              type="datetime-local"
              id="production_date"
              name="production_date"
              required
            />
            <label for="production_date">Production Date</label>
          </div>
        </div>
      </div>
      <div class="row justify-content-md-center mt-3">
        <div class="col-md-auto">
          <div class="form-floating">
            <input
              class="form-control"
              id="batch-number"
              name="batch-number"
              type="text"
              placeholder="Batch Number"
              value=""
              aria-label="batch_number"
              readonly
            />
            <label for="batch-number">Batch Number</label>
            <input
              class="form-control"
              id="batch_number"
              name="batch_number"
              type="hidden"
              value=""
              aria-label="batch_number"
            />
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-success">
        Add Production Instance
      </button>
    </form>
  </div>
</div>
<!--chart scripts-->
<script>
  const barColors = [
    "rgba(255, 0, 0, 0.3)",
    "rgba(0, 255, 0, 0.3)",
    "rgba(0, 0, 255, 0.3)",
    "rgba(255, 255, 0, 0.3)",
    "rgba(255, 0, 255, 0.3)",
    "rgba(0, 255, 255, 0.3)",
    "rgba(0, 0, 0, 0.3)",
    "rgba(255, 165, 0, 0.3)",
    "rgba(128, 0, 128, 0.3)",
    "rgba(0, 128, 0, 0.3)",
    "rgba(165, 42, 42, 0.3)",
    "rgba(0, 128, 128, 0.3)",
    "rgba(255, 69, 0, 0.3)",
    "rgba(255, 215, 0, 0.3)",
    "rgba(75, 0, 130, 0.3)",
    "rgba(255, 140, 0, 0.3)",
    "rgba(220, 20, 60, 0.3)",
    "rgba(0, 255, 127, 0.3)",
    "rgba(138, 43, 226, 0.3)",
    "rgba(50, 205, 50, 0.3)",
    "rgba(250, 128, 114, 0.3)",
    "rgba(128, 0, 0, 0.3)",
    "rgba(46, 139, 87, 0.3)",
    "rgba(72, 209, 204, 0.3)",
    "rgba(153, 50, 204, 0.3)",
    "rgba(139, 0, 139, 0.3)",
    "rgba(0, 250, 154, 0.3)",
    "rgba(255, 105, 180, 0.3)",
    "rgba(0, 0, 128, 0.3)"
  ];
  const borderColors = [
    "rgba(255, 0, 0, 0.9)",
    "rgba(0, 255, 0, 0.9)",
    "rgba(0, 0, 255, 0.9)",
    "rgba(255, 255, 0, 0.9)",
    "rgba(255, 0, 255, 0.9)",
    "rgba(0, 255, 255, 0.9)",
    "rgba(0, 0, 0, 0.9)",
    "rgba(255, 165, 0, 0.9)",
    "rgba(128, 0, 128, 0.9)",
    "rgba(0, 128, 0, 0.9)",
    "rgba(165, 42, 42, 0.9)",
    "rgba(0, 128, 128, 0.9)",
    "rgba(255, 69, 0, 0.9)",
    "rgba(255, 215, 0, 0.9)",
    "rgba(75, 0, 130, 0.9)",
    "rgba(255, 140, 0, 0.9)",
    "rgba(220, 20, 60, 0.9)",
    "rgba(0, 255, 127, 0.9)",
    "rgba(138, 43, 226, 0.9)",
    "rgba(50, 205, 50, 0.9)",
    "rgba(250, 128, 114, 0.9)",
    "rgba(128, 0, 0, 0.9)",
    "rgba(46, 139, 87, 0.9)",
    "rgba(72, 209, 204, 0.9)",
    "rgba(153, 50, 204, 0.9)",
    "rgba(139, 0, 139, 0.9)",
    "rgba(0, 250, 154, 0.9)",
    "rgba(255, 105, 180, 0.9)",
    "rgba(0, 0, 128, 0.9)"
  ];
  new Chart("materialChart", {
      type: "bar",
      data: {
        labels: [{% for rtype in rtypes %}{% if rtype.stock > 0 %}"{{rtype.name|safe}}", {% endif %}{% endfor %}],
        datasets: [{% for material in materials %}{% if material.stock > 0 %}{label: "{{material.source.name|safe}}-{{ material.arriving_date.strftime('%Y-%m-%d') }}",
        data: [{% for rtype in rtypes %}{% if rtype.stock > 0 %}{% if rtype.id == material.type_id %}{{ material.stock }}, {%else%}0,{% endif %}{% endif %}{% endfor %}],
        backgroundColor: barColors[{{material.id}} % 29],
        borderColor: borderColors[{{material.id}} % 29]
        },
        {% endif %}{% endfor %}],
      },
      options: {
        tooltips: {
          displayColors: true,
          callbacks:{
          mode: 'x',
          },
        },
        scales: {
          xAxes: [{
            stacked: true,
            gridLines: {
              display: false,
            }
          }],
          yAxes: [{
            stacked: true,
            ticks: {
              beginAtZero: true,
            },
          type: 'linear',
          }]
        },
        responsive: true,
        maintainAspectRatio: false,
        legend: { display: false },
      },
    });
    new Chart("productionChart", {
        type: "bar",
        data: {
          labels: [{% for ptype in ptypes %}{% if ptype.stock > 0 %}"{{ptype.name|safe}}", {% endif %}{% endfor %}],
          datasets: [{% for production in productions %}{% if production.stock > 0 %}{label: "{{production.print_batch|safe}}-{{ production.production_time.strftime('%Y-%m-%d') }}",
          data: [{% for ptype in ptypes %}{% if ptype.stock > 0 %}{% if ptype.id == production.type_id %}{{ production.stock }}, {%else%}0,{% endif %}{% endif %}{% endfor %}],
          backgroundColor: barColors[{{production.id}} % 29],
          borderColor: borderColors[{{production.id}} % 29]
          },
          {% endif %}{% endfor %}],
        },
        options: {
      tooltips: {
        displayColors: true,
        callbacks:{
          mode: 'x',
        },
      },
      scales: {
        xAxes: [{
          stacked: true,
          gridLines: {
            display: false,
          }
        }],
        yAxes: [{
          stacked: true,
          ticks: {
            beginAtZero: true,
          },
          type: 'linear',
        }]
      },
      responsive: true,
      maintainAspectRatio: false,
      legend: { display: false },
      }
    });
</script>
{% endblock %}
