{% extends "layout.html" %}
<!-- enter the page title here!-->
{% block title %} Add Productions {% endblock %}
<!-- and again here!-->
{% block navbar_title %} Add Productions {% endblock %}
<!--head-->
{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script type="text/javascript">
  // from www.w3.org/WAI/WCAG21/working-examples/script-dynamic-select/
  // array of possible production types in the same order as they appear in the production type selection list
  var recipeLists = {};
  recipeLists["0"] = ["Select a Recipe"];
  {% for ptype in ptypes %}recipeLists["{{ ptype.id }}"] = [{% for recipe in recipes %}{% if recipe.production_type == ptype.id %}"{{ recipe.name }}", {% endif %}{% endfor %}];{% endfor %}
  var recipeIdLists = {};
  recipeIdLists["0"] = ["0"];
  {% for ptype in ptypes %}recipeIdLists["{{ ptype.id }}"] = [{% for recipe in recipes %}{% if recipe.production_type == ptype.id %}"{{ recipe.id }}", {% endif %}{% endfor %}];{% endfor %}
  /* RecipeChange() is called from the onchange event of a select element.
   * param selectObj - the select object which fired the on change event.
   */
  function recipeChange(selectObj) {
    // get the index of the selected option
    var idx = selectObj.selectedIndex;
    // get the value of the selected option
    var which = selectObj.options[idx].value;
    // use the selected option value to retrieve the list of items from the coutnryLists array
    nList = recipeLists[which];
    iList = recipeIdLists[which];
    // get the recipe select element via its known id
    var cSelect = document.getElementById("recipe");
    // remove the current options from the recipe select
    var len = cSelect.options.length;
    while (cSelect.options.length > 0) {
      cSelect.remove(0);
    }
    var newOption;
    // create new options
    for (var i = 0; i < nList.length; i++) {
      newOption = document.createElement("option");
      newOption.value = iList[i];
      newOption.text = nList[i];
      // add the new option
      try {
        cSelect.add(newOption); // this will fail in DOM browsers but is needed for IE
      } catch (e) {
        cSelect.appendChild(newOption);
      }
    }
  }
  //]]>
</script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    function updateField() {
      const BatchNumbers = [{% for production in productions %}"{{ production.print_batch }}", {%endfor %}];
      const productionDateValue =
        document.getElementById("production_date").value;
      const productionTypeValue =
        document.getElementById("production_types").value;
      const selectedDate = new Date(productionDateValue);
      const year = selectedDate.getFullYear().toString().slice(-2);
      const month = (selectedDate.getMonth() + 1).toString().padStart(2, "0");
      const date = selectedDate.getDate().toString().padStart(2, "0");
      const typeid = productionTypeValue.toString().padStart(3, "0");
      if (!productionDateValue) {
        return;
      }
      let counter = 1;
      // Construct the string with the selected values
      const batchNumber = `${year}${month}${date}${typeid}${counter
        .toString()
        .padStart(2, "0")}`;
      while (BatchNumbers.includes(batchNumber)) {
        counter++;
        batchNumber = `${year}${month}${date}${typeid}${recipeid}${counter
          .toString()
          .padStart(2, "0")}`;
      }

      // Update the field above the button
      document.getElementById("batch_number").value = batchNumber;
      document.getElementById("batch-number").value = batchNumber;
    }

    // Add an event listener to trigger the updateField function when dropdown values change
    document
      .getElementById("production_date")
      .addEventListener("change", updateField);
    document
      .getElementById("production_types")
      .addEventListener("change", updateField);
    document.getElementById("recipe").addEventListener("change", updateField);
  });
</script>
{% endblock %}
<!--body-->
{%block main %}
<div class="container mx-auto text-center my-4">
  <div class="row justify-content-md-center">
    <div class="col chart-container">
      <canvas
        id="firstChart"
        style="max-width: 700px; display: inline"
      ></canvas>
    </div>
    <div class="col chart-container">
      <canvas
        id="secondChart"
        style="max-width: 700px; display: inline"
      ></canvas>
    </div>
  </div>
  <div class="container mx-auto mt-5">
    <form method="POST" action="{{url_for('productions.add_production')}}">
      <div class="row justify-content-md-center">
        <div class="col-md-auto">
          <div class="form-floating">
            <select
              class="form-select"
              id="production_types"
              name="production_types"
              onchange="recipeChange(this);"
            >
              <option selected disabled required value="">
                Select a Production Type
              </option>
              {% for ptype in ptypes %}
              <option value="{{ ptype.id }}">{{ ptype.name }}</option>
              {% endfor %}
            </select>
            <label for="production_types">Production Type</label>
          </div>
          <div class="form-floating">
            <select class="form-select" id="recipe" name="recipe" required>
              <option value="0">Select a recipe</option>
            </select>
            <label for="recipe">Recipe</label>
          </div>
        </div>
        <div class="col-md-auto">
          <div class="form-floating">
            <input
              class="form-control"
              type="number"
              id="quantity"
              name="quantity"
              required
            />
            <label for="quantity">Quantity</label>
          </div>
          <div class="form-floating">
            <input
              class="form-control"
              type="datetime-local"
              id="production_date"
              name="production_date"
              required
            />
            <label for="production_date">Production Date</label>
          </div>
        </div>
      </div>
      <div class="row justify-content-md-center mt-3">
        <div class="col-md-auto">
          <div class="form-floating">
            <input
              class="form-control"
              id="batch-number"
              name="batch-number"
              type="text"
              placeholder="Batch Number"
              value=""
              aria-label="batch_number"
              readonly
            />
            <label for="batch-number">Batch Number</label>
            <input
              class="form-control"
              id="batch_number"
              name="batch_number"
              type="hidden"
              value=""
              aria-label="batch_number"
            />
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-success">
        Add Production Instance
      </button>
    </form>
  </div>
</div>
<!--chart scripts-->
<script>
    const xValues1 = [
      {% for material in materials %}{% if material.stock > 0 %}"{{ material.kind.name|safe }}-{{ material.source.name|safe }}-{{ material.arrival_time.strftime('%Y-%m-%d') }}", {% endif %}{% endfor %}
    ];
    const yValues1 = [
      {% for material in materials %}{% if material.stock > 0 %}"{{ material.stock }}", {% endif %}{% endfor %}
    ];
    const xValues2 = [
      {% for production in productions %}{% if production.stock > 0 %}"{{ production.kind.name }} : {{ production.print_batch }}", {% endif %}{% endfor %}
    ];
    const yValues2 = [
      {% for production in productions %} {% if production.stock > 0%}"{{ production.stock }}", {% endif %} {% endfor %}
    ];
    const barColors = [
      "rgba(255, 0, 0, 0.2)",
      "rgba(0, 255, 0, 0.2)",
      "rgba(0, 0, 255, 0.2)",
      "rgba(255, 255, 0, 0.2)",
      "rgba(255, 0, 255, 0.2)",
      "rgba(0, 255, 255, 0.2)",
      "rgba(0, 0, 0, 0.2)",
      "rgba(255, 255, 255, 0.2)",
      "rgba(255, 165, 0, 0.2)",
      "rgba(128, 0, 128, 0.2)",
      "rgba(0, 128, 0, 0.2)",
      "rgba(165, 42, 42, 0.2)",
      "rgba(0, 128, 128, 0.2)",
      "rgba(255, 69, 0, 0.2)",
      "rgba(255, 215, 0, 0.2)",
      "rgba(75, 0, 130, 0.2)",
      "rgba(255, 140, 0, 0.2)",
      "rgba(220, 20, 60, 0.2)",
      "rgba(0, 255, 127, 0.2)",
      "rgba(138, 43, 226, 0.2)",
      "rgba(50, 205, 50, 0.2)",
      "rgba(250, 128, 114, 0.2)",
      "rgba(128, 0, 0, 0.2)",
      "rgba(46, 139, 87, 0.2)",
      "rgba(72, 209, 204, 0.2)",
      "rgba(153, 50, 204, 0.2)",
      "rgba(139, 0, 139, 0.2)",
      "rgba(0, 250, 154, 0.2)",
      "rgba(255, 105, 180, 0.2)",
      "rgba(0, 0, 128, 0.2)"
    ];
    const borderColors = [
      "rgb(255, 0, 0)",
      "rgb(0, 255, 0)",
      "rgb(0, 0, 255)",
      "rgb(255, 255, 0)",
      "rgb(255, 0, 255)",
      "rgb(0, 255, 255)",
      "rgb(0, 0, 0)",
      "rgb(255, 255, 255)",
      "rgb(255, 165, 0)",
      "rgb(128, 0, 128)",
      "rgb(0, 128, 0)",
      "rgb(165, 42, 42)",
      "rgb(0, 128, 128)",
      "rgb(255, 69, 0)",
      "rgb(255, 215, 0)",
      "rgb(75, 0, 130)",
      "rgb(255, 140, 0)",
      "rgb(220, 20, 60)",
      "rgb(0, 255, 127)",
      "rgb(138, 43, 226)",
      "rgb(50, 205, 50)",
      "rgb(250, 128, 114)",
      "rgb(128, 0, 0)",
      "rgb(46, 139, 87)",
      "rgb(72, 209, 204)",
      "rgb(153, 50, 204)",
      "rgb(139, 0, 139)",
      "rgb(0, 250, 154)",
      "rgb(255, 105, 180)",
      "rgb(0, 0, 128)"
    ];

    new Chart("firstChart", {
      type: "bar",
      data: {
        labels: xValues1,
        datasets: [
          {
            backgroundColor: barColors,
            borderColor: borderColors,
            data: yValues1,
            borderWidth: 1
          },
        ],
      },
      options: {
        legend: { display: false },
        title: {
          display: true,
          text: "In Stock Raw Materials",
        },
        scales: {
    yAxes: [{
        ticks: {
            beginAtZero: true
        }
    }]
  }
      },
    });
    new Chart("secondChart", {
      type: "bar",
      data: {
        labels: xValues2,
        datasets: [
          {
            backgroundColor: barColors,
            borderColor: borderColors,
            data: yValues2,
            borderWidth: 1
          },
        ],
      },
      options: {
        legend: { display: false },
        title: {
          display: true,
          text: "In Stock Productions",
        },
        scales: {
    yAxes: [{
        ticks: {
            beginAtZero: true
        }
    }]
  }
      },
    });
</script>
{% endblock %}
