{% extends "layout.html" %}
<!-- enter the page title here!-->
{% block title %} {{ arrival.type.name|safe }} - {{ arrival.source.name|safe }} {% endblock %}
<!--head-->
{%block head %} {% endblock %}
<!--body-->
{%block main %}
<div class="container mx-auto text-center">
  <nav>
    <div class="mt-3">
      <h5 style="color: #c74b00">
        {{ arrival.type.name|safe }} from {{ arrival.source.name|safe }} on {{
        arrival.arriving_date.strftime('%Y-%m-%d') }}
      </h5>
    </div>
    <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
      <button
        class="nav-link active"
        id="nav-stock-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-stock"
        type="button"
        role="tab"
        aria-controls="nav-stock"
        aria-selected="true"
      >
        Stock
      </button>
      <button
        class="nav-link"
        id="nav-sources-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-sources"
        type="button"
        role="tab"
        aria-controls="nav-sources"
        aria-selected="false"
        tabindex="-1"
      >
        Source
      </button>
      <button
        class="nav-link"
        id="nav-productions-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-productions"
        type="button"
        role="tab"
        aria-controls="nav-productions"
        aria-selected="false"
        tabindex="-1"
      >
        Productions
      </button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div
      class="tab-pane fade active show"
      id="nav-stock"
      role="tabpanel"
      aria-labelledby="nav-stock-tab"
    >
      <p>
        <strong
          >The current stock of {{ arrival.type.name|safe|lower }} arrived from {{
          arrival.source.name|lower|safe }} on {{ arrival.arriving_date.strftime('%Y-%m-%d') }} is
          {{ arrival.stock|round(1) }} Kgs.</strong
        ><br />
        Arrived quantity is {{ arrival.quantity|round(1) }} Kgs.<br />
        Total usage is {{ (arrival.quantity-arrival.stock)|round(1) }} Kgs.
      </p>
    </div>
    <div class="tab-pane fade" id="nav-sources" role="tabpanel" aria-labelledby="nav-sources-tab">
      <h5 class="mb-4">
        Source of {{ arrival.type.name|safe|lower }} on {{
        arrival.arriving_date.strftime('%Y-%m-%d') }}:
      </h5>
      <table class="table table-striped w-auto mx-auto">
        <thead>
          <tr>
            <th>Source</th>
            <th>Contact</th>
            <th>Type</th>
            <th>Location</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ arrival.source.name|safe }}</td>
            <td>
              {{ arrival.source.contact_person|safe }}: {{ arrival.source.contact_information|safe
              }}
            </td>
            <td>{{ arrival.source.type|safe }}</td>
            <td>{{ arrival.source.location|safe }}</td>
            <td>{{ arrival.source.description|safe }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div
      class="tab-pane fade"
      id="nav-productions"
      role="tabpanel"
      aria-labelledby="nav-productions-tab"
    >
      <h5 class="mb-4">List of production instances that used {{ arrival.type.name|safe|lower }} arrived from {{
        arrival.source.name|lower|safe }} on {{ arrival.arriving_date.strftime('%Y-%m-%d') }}:</h5>
        <table class="table table-striped w-auto mx-auto">
          <thead>
            <tr>
              <th>Type</th>
              <th>Batch</th>
              <th>Quantity (Kg)</th>
              <th>Production Time</th>
              <th>Recipe</th>
              <th>Ingredient Usages</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for production in arrival.productions|sort(attribute='production_time') %}
            <tr>
              <td>{{ production.type.name|safe }}</td>
              <td>{{ production.print_batch|safe }}</td>
              <td>{{ production.quantity }}</td>
              <td>{{ production.production_time }}</td>
              <td>{{ production.recipe.name|safe }}</td>
              <td>
                <p class="m-0 text-end">
                  {% set sorted_ingredients = production.ingredients|list|sortgetu(production)|reverse %}
                  {% for ingredient in sorted_ingredients %} {{ ingredient.type.name|safe }}-{{
                  ingredient.source.name|safe }} ({{ ingredient.arriving_date.strftime('%y-%m-%d') }}):
                  <strong>{{ production.getu(ingredient.id)|safe }} Kg</strong><br />{% endfor %}
                </p>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  </div>
</div>
{% endblock %}
