{% extends "layout.html" %}
<!-- enter the page title here!-->
{% block title %} {{ customer.name }} {% endblock %}
<!--head-->
{%block head %}
<!-- shipment_table and quantity_table search and sort from datatables.net -->
<script>
  // Load the dataTable after page load
  document.addEventListener("DOMContentLoaded", function () {
    $("#shipment_table").dataTable({
      order: [0, "dsc"],
    });
    $("#quantity_table").dataTable();
  });
  function tableAdjust() {
    var stable = $("#shipment_table").DataTable();
    stable.columns.adjust().draw();
    var qtable = $("#quantity_table").DataTable();
    qtable.columns.adjust().draw();
  }

  // An event listener to re-adjust column width on window resize
  window.addEventListener("resize", tableAdjust);
</script>
{% endblock %}
<!--body-->
{%block main %}
<div class="container mx-auto text-center">
  <nav>
    <div class="mt-3">
      <h5 style="color: #c74b00">{{ customer.name }}</h5>
    </div>
    <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
      <button
        class="nav-link active"
        id="nav-stock-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-stock"
        type="button"
        role="tab"
        aria-controls="nav-stock"
        aria-selected="true"
      >
        Stock
      </button>
      <button
        class="nav-link"
        id="nav-shipments-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-shipments"
        type="button"
        role="tab"
        aria-controls="nav-shipments"
        aria-selected="false"
        tabindex="-1"
        onclick="tableAdjust()"
      >
        Shipments
      </button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div
      class="tab-pane fade active show"
      id="nav-stock"
      role="tabpanel"
      aria-labelledby="nav-stock-tab"
    >
      <h5 class="mb-4">The quantity of products shipped to {{ customer.name|lower }}:</h5>
      <table id="quantity_table" class="table table-striped w-auto mx-auto">
        <thead>
          <tr>
            <th>Product</th>
            <th>Shipped Quantity (Kg)</th>
          </tr>
        </thead>
        <tbody>
          {% for type in shipped_types %}
          <tr>
            <td>{{ type.name }}</td>
            <td>{{ customer.shptotal(type.id)|round(1) }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div
      class="tab-pane fade"
      id="nav-shipments"
      role="tabpanel"
      aria-labelledby="nav-shipments-tab"
    >
      <h5 class="mb-4">Product shipments to {{ customer.name|lower }}:</h5>
      <table id="shipment_table" class="table table-striped w-auto mx-auto nowrap">
        <thead>
          <tr>
            <th>Shipping Date</th>
            <th>Product</th>
            <th>Batch</th>
            <th>Quantity (Kg)</th>
          </tr>
        </thead>
        <tbody>
          {% for shipment in customer.shipments|sort(attribute='shipping_date') %}
          <tr>
            <td>{{ shipment.shipping_date.strftime('%Y-%m-%d') }}</td>
            <td>{{ shipment.production.type.name }}</td>
            <td>{{ shipment.production.print_batch }}</td>
            <td>{{ shipment.quantity }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
