{% extends "layout.html" %}
<!-- enter the page title here!-->
{% block title %} Manage Destinations {% endblock %}
<!--head-->
{% block head %}
<script>
  function populateCanvas(
    destinationId,
    destinationName,
    contactPerson,
    contactInformation,
    destinationType,
    destinationLocation,
    destinationDescription
  ) {
    // Get the canvas element
    const editCanvas = document.getElementById("EditCanvas");

    // Populate the canvas form fields
    editCanvas.querySelector("#edit-destination-id").value = destinationId;
    editCanvas.querySelector("#edit-name").value = destinationName;
    editCanvas.querySelector("#edit-contact_person").value = contactPerson;
    editCanvas.querySelector("#edit-contact_information").value = contactInformation;
    editCanvas.querySelector("#edit-type").value = destinationType;
    editCanvas.querySelector("#edit-location").value = destinationLocation;
    editCanvas.querySelector("#edit-description").value = destinationDescription;
  }
</script>
<!-- destination_table search and sort from datatables.net -->
<script>
  // load the dataTable after page load
  document.addEventListener("DOMContentLoaded", function () {
    $("#destination_table").dataTable({
      order: [],
      columnDefs: [
        {
          targets: [-1, -2, -3],
          orderable: false,
        },
      ],
    });
  });
  //  an event listener to re-adjust column width on window resize
  window.addEventListener("resize", function () {
    var table = $("#destination_table").DataTable();
    table.columns.adjust().draw();
  });
</script>
{% endblock %}
<!--body-->
{%block main %}
<div class="container mx-auto text-center">
  <!-- List of existing destinations -->
  <h3 class="my-4">Existing Destinations</h3>
  <table id="destination_table" class="table table-striped w-auto mx-auto">
    <thead>
      <tr>
        <th>Destination</th>
        <th>Contact</th>
        <th>Type</th>
        <th>Location</th>
        <th>Description</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for destination in destinations %}
      <tr>
        <td>{{ destination.name }}</td>
        <td>{{ destination.contact_person }}: {{ destination.contact_information }}</td>
        <td>{{ destination.type }}</td>
        <td>{{ destination.location }}</td>
        <td>{{ destination.description }}</td>
        <td>
          <form action="{{ url_for('destinations.track') }}" method="post">
            <input type="hidden" name="track" value="{{ destination.id }}" />
            <input
              type="image"
              src="/static/icons/arrow-right-square.svg"
              alt="track"
              name="destination_track"
              title="Track {{ destination.name }}"
            />
          </form>
        </td>
        <td>
          <img
            src="/static/icons/pencil-square.svg"
            alt="edit"
            name="destination_edit"
            type="button"
            class="edit-destination"
            title="Edit {{ destination.name }}"
            data-bs-toggle="offcanvas"
            data-bs-target="#EditCanvas"
            aria-controls="EditCanvas"
            onclick="populateCanvas(
              '{{ destination.id }}',
              '{{ destination.name|escape_html }}',
              '{{ destination.contact_person|escape_html }}',
              '{{ destination.contact_information|escape_html }}',
              '{{ destination.type|escape_html }}',
              '{{ destination.location|escape_html }}',
              '{{ destination.description|escape_html }}'
            );"
          />
        </td>
        <td>
          <form
          id="del-{{ destination.id }}"
          action="{{ url_for('destinations.delete_destination') }}"
          method="post"
        >
          <input type="hidden" name="id" value="{{ destination.id }}" />
          <img
            src="/static/icons/x-square.svg"
            alt="delete"
            name="destination_delete"
            type="submit"
            title="Delete {{ destination.name }}"
            onclick="return confirmDelete('del-{{ destination.id }}', '{{ destination.name|escape_html }}');"
          />
        </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <button
    class="btn btn-success"
    type="button"
    data-bs-toggle="offcanvas"
    data-bs-target="#AddCanvas"
    aria-controls="AddCanvas"
  >
    + Add New Destination
  </button>
</div>
<!-- offcanvas to add a new Destination -->
<div
  class="offcanvas offcanvas-start text-end"
  data-bs-scroll="true"
  tabindex="-1"
  id="AddCanvas"
  aria-labelledby="AddCanvasLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="AddCanvasLabel">Add New Destination</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="container mx-auto">
      <form method="POST" action="{{ url_for('destinations.destinations') }}">
        <div class="row">
          <div class="col-auto">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                autocomplete="off"
                required
                placeholder="Enter the destination name"
              />
              <label for="name">Destination Name</label>
            </div>
          </div>
          <div class="col-auto">
            <div class="form-floating">
              <select class="form-select" id="type" name="type" required>
                <option selected disabled value="">Select a type</option>
                <option value="Wholesale Distributor">Wholesale Distributor</option>
                <option value="Online Retailer">Online Retailer</option>
                <option value="Local Market">Local Market</option>
                <option value="Restaurant">Restaurant</option>
                <option value="Hotel">Hotel</option>
              </select>
              <label for="type">Destination type</label>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-auto">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="contact_person"
                name="contact_person"
                autocomplete="off"
                required
                placeholder="Enter the contact name"
              />
              <label for="contact_person">Contact Person</label>
            </div>
          </div>
          <div class="col-auto">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="contact_information"
                name="contact_information"
                autocomplete="off"
                required
                placeholder="Enter the contact info"
              />
              <label for="contact_information">Contact Information</label>
            </div>
          </div>
          <div class="col-auto">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="location"
                name="location"
                autocomplete="off"
                required
                placeholder="Enter the location"
              />
              <label for="location">Destination Location</label>
            </div>
          </div>
        </div>
        <div class="row my-4">
          <div class="col w-auto">
            <div class="form-floating">
              <textarea
                class="form-control"
                placeholder="Write destination description"
                name="description"
                id="description"
                autocomplete="off"
                style="height: 100px"
              ></textarea>
              <label for="description">Destination Description</label>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-success">Add Destination</button>
      </form>
    </div>
  </div>
</div>
<!-- offcanvas for destination editing -->
<div
  class="offcanvas offcanvas-end text-start"
  data-bs-scroll="true"
  tabindex="-1"
  id="EditCanvas"
  aria-labelledby="EditCanvasLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="EditCanvasLabel">Edit Destination</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="container mx-auto">
      <form method="POST" action="{{ url_for('destinations.edit_destination') }}">
        <div class="row">
          <div class="col-auto">
            <div class="form-floating">
              <input type="hidden" name="id" id="edit-destination-id" />
              <input
                type="text"
                class="form-control"
                id="edit-name"
                name="name"
                autocomplete="off"
                required
                readonly
              />
              <label for="edit-name">Destination Name</label>
            </div>
          </div>
          <div class="col-auto">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="edit-type"
                name="type"
                required
                readonly
              />
              <label for="edit-contact_person">Destination type</label>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-auto">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="edit-contact_person"
                name="contact_person"
                autocomplete="off"
                required
                placeholder="Enter the contact name"
              />
              <label for="edit-contact_person">Contact Person</label>
            </div>
          </div>
          <div class="col-auto">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="edit-contact_information"
                name="contact_information"
                autocomplete="off"
                required
                placeholder="Enter the contact info"
              />
              <label for="edit-contact_information">Contact Information</label>
            </div>
          </div>
          <div class="col-auto">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="edit-location"
                name="location"
                autocomplete="off"
                required
                placeholder="Enter the location"
              />
              <label for="edit-location">Destination Location</label>
            </div>
          </div>
        </div>
        <div class="row my-4">
          <div class="col w-auto">
            <div class="form-floating">
              <textarea
                class="form-control"
                placeholder="Write destination description"
                name="description"
                id="edit-description"
                autocomplete="off"
                style="height: 100px"
              ></textarea>
              <label for="edit-description">Destination Description</label>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-warning">Edit Destination</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
