{% extends "layout.html" %}
<!-- enter the page title here!-->
{% block title %} {{ ingredient.name }} {% endblock %}
<!--head-->
{%block head %}
<!-- arrival, recipe and production table search and sort from datatables.net -->
<script>
  // Load the dataTable after page load
  document.addEventListener("DOMContentLoaded", function () {
    $("#arrival_table").dataTable({
      order: [0, "dsc"],
    });
    $("#recipe_table").dataTable({
      order: [],
      columnDefs: [
        {
          targets: [-1, -2],
          orderable: false,
        },
      ],
    });
    $("#production_table").dataTable({
      order: [0, "dsc"],
      columnDefs: [
        {
          targets: [-1],
          orderable: false,
        },
      ],
    });
  });
  function tableAdjust() {
    var aTable = $("#arrival_table").DataTable();
    var rTable = $("#recipe_table").DataTable();
    var pTable = $("#production_table").DataTable();
    aTable.columns.adjust().draw();
    rTable.columns.adjust().draw();
    pTable.columns.adjust().draw();
  }

  // An event listener to re-adjust column width on window resize
  window.addEventListener("resize", tableAdjust);
</script>
{% endblock %}
<!--body-->
{%block main %}
<div class="container mx-auto text-center">
  <nav>
    <div class="mt-3"><h5 style="color: #c74b00">{{ ingredient.name }}</h5></div>
    <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
      <button
        class="nav-link active"
        id="nav-stock-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-stock"
        type="button"
        role="tab"
        aria-controls="nav-stock"
        aria-selected="true"
      >
        Stock
      </button>
      <button
        class="nav-link"
        id="nav-arrivals-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-arrivals"
        type="button"
        role="tab"
        aria-controls="nav-arrivals"
        aria-selected="false"
        tabindex="-1"
        onclick="tableAdjust()"
      >
        Arrivals
      </button>
      <button
        class="nav-link"
        id="nav-recipes-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-recipes"
        type="button"
        role="tab"
        aria-controls="nav-recipes"
        aria-selected="false"
        tabindex="-1"
        onclick="tableAdjust()"
      >
        Recipes
      </button>
      <button
        class="nav-link"
        id="nav-productions-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-productions"
        type="button"
        role="tab"
        aria-controls="nav-productions"
        aria-selected="false"
        tabindex="-1"
        onclick="tableAdjust()"
      >
        Productions
      </button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div
      class="tab-pane fade active show"
      id="nav-stock"
      role="tabpanel"
      aria-labelledby="nav-stock-tab"
    >
      <p>
        <strong
          >The current stock of {{ ingredient.name|lower }} is {{ ingredient.stock|round(1) }}
          Kgs.</strong
        ><br />
        Total arrival is {{ ingredient.arrtotal|round(1) }} Kgs.<br />
        Total usage is {{ (ingredient.arrtotal-ingredient.stock)|round(1) }} Kgs.
      </p>
    </div>
    <div class="tab-pane fade" id="nav-arrivals" role="tabpanel" aria-labelledby="nav-arrivals-tab">
      <h5 class="mb-4">List of {{ ingredient.name|lower }} arrivals:</h5>
      <table id="arrival_table" class="table table-striped w-auto mx-auto">
        <thead>
          <tr>
            <th>Arriving Date</th>
            <th>Supplier</th>
            <th>Quantity (Kg)</th>
          </tr>
        </thead>
        <tbody>
          {% for arrival in ingredient.arrivals %}
          <tr>
            <td>{{ arrival.arriving_date.strftime('%Y-%m-%d') }}</td>
            <td>{{ arrival.supplier.name }}</td>
            <td>{{ arrival.quantity }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="tab-pane fade" id="nav-recipes" role="tabpanel" aria-labelledby="nav-recipes-tab">
      <h5 class="mb-4">List of recipes with {{ ingredient.name|lower }}:</h5>
      <table id="recipe_table" class="table table-striped w-auto mx-auto">
        <thead>
          <tr>
            <th>Name</th>
            <th>{{ ingredient.name }} amount</th>
            <th>Product</th>
            <th>Description</th>
            <th>Other Ingredients</th>
          </tr>
        </thead>
        <tbody>
          {% for recipe in ingredient.recipes %}
          <tr>
            <td>{{ recipe.name }}</td>
            <td>{{ recipe.getp(ingredient.id) }}%</td>
            <td>{{ recipe.type.name }}</td>
            <td>{{ recipe.description }}</td>
            <td>
              <p class="m-0 text-end">
                {% set sorted_ingredients = recipe.ingredients|list|sortgetp(recipe)|reverse %} {%
                for item in sorted_ingredients %}{% if item.id != ingredient.id %}{{ item.name }}:
                <strong>{{ recipe.getp(item.id) }}%</strong><br />
                {% endif %}{% endfor %}
              </p>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div
      class="tab-pane fade"
      id="nav-productions"
      role="tabpanel"
      aria-labelledby="nav-productions-tab"
    >
      <h5 class="mb-4">List of production instances that had {{ ingredient.name|lower }}:</h5>
      <table id="production_table" class="table table-striped w-auto mx-auto">
        <thead>
          <tr>
            <th>Production Time</th>
            <th>Product</th>
            <th>Batch</th>
            <th>Production Quantity (Kg)</th>
            <th>{{ ingredient.name }} Used (Kg)</th>
            <th>Recipe</th>
            <th>Ingredient Usages</th>
          </tr>
        </thead>
        <tbody>
          {% for production in ingredient.productions %}
          <tr>
            <td>{{ production.production_time }}</td>
            <td>{{ production.type.name }}</td>
            <td>{{ production.print_batch }}</td>
            <td>{{ production.quantity }}</td>
            <td>{{ production.gets(ingredient.id) }}</td>
            <td>{{ production.recipe.name }}</td>
            <td>
              <p class="m-0 text-end">
                {% set sorted_ingredients = production.ingredients|list|sortgetu(production)|reverse
                %} {% for item in sorted_ingredients %} {{ item.type.name }}-{{ item.supplier.name }}
                ({{ item.arriving_date.strftime('%y-%m-%d') }}):
                <strong>{{ production.getu(item.id) }} Kg</strong><br />{% endfor %}
              </p>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
