<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="BakerySync ERP system" />
    <meta name="author" content="rpurmehdi" />

    <!-- bootstrap css and js from http://getbootstrap.com/docs/5.3/ -->
    <link
      href="/static/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="/static/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <!-- jquery -->
    <script src="/static/js/jquery-3.6.0.min.js"></script>
    <!-- table search and sort from datatables.net -->
    <link rel="stylesheet" href="/static/css/jquery.dataTables.css" />
    <script src="/static/js/jquery.dataTables.js"></script>
    <!-- script for deleting an item from a table -->
    <script>
      function confirmDelete(Item, Message) {
        var confirmMessage =
          "Are you sure you want to delete " +
          Message +
          "?\nThis can not be undone!\nNote: you can not delete items that are referenced eslsewhere in the database";
        if (confirm(confirmMessage)) {
          // If confirmed, submit the form
          document.getElementById(Item).submit();
        } else {
          // If canceled, prevent form submission
          return false;
        }
      }
    </script>
    <!-- icons and manifest file -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png" />
    <link rel="manifest" href="/static/site.webmanifest" />
    <link rel="icon" href="/static/images/favicon.ico" />
    <!-- head block for templates -->
    {% block head %}{% endblock %}
    <!-- custom style -->
    <link href="/static/css/styles.css" rel="stylesheet" />
    <!-- page title -->
    <title>BakerySync: {% block title %}{% endblock %}</title>
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg sticky-top bg-warning-subtle shadow">
      <div class="container-fluid">
        <img
          src="/static/images/android-chrome-512x512.png"
          alt="BakerySyncLogo"
          class="navbar-brand py-0"
          width="30"
          height="30"
        />
        <a class="navbar-brand" href="{{ url_for('index.index') }}">BakerySync</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Configuration
              </a>
              <ul class="dropdown-menu bg-warning-subtle">
                <li>
                  <a class="dropdown-item" href="{{ url_for('types.types') }}">Manage Types</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{{ url_for('suppliers.suppliers') }}"
                    >Manage Suppliers</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{{ url_for('customers.customers') }}"
                    >Manage Customers</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{{ url_for('recipes.recipes') }}"
                >Recipes</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                href="{{ url_for('productions.productions') }}"
                >Productions</a
              >
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Warehouse
              </a>
              <ul class="dropdown-menu bg-warning-subtle">
                <li>
                  <a class="dropdown-item" href="{{ url_for('arrivals.arrivals') }}"
                    >Ingredient Arrival</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{{ url_for('shipments.shipments') }}"
                    >Product Shipment</a
                  >
                </li>
              </ul>
            </li>
          </ul>
          <!-- track search input form -->
          <form class="form-inline" action="{{ url_for('index.index') }}" method="post">
            <div class="row g-3 align-items-center">
              <div class="col-auto">
                <div class="input-group my-0">
                  <input
                    type="search"
                    name="track"
                    id="track"
                    class="form-control"
                    placeholder="type what to track"
                    aria-label="type what to track"
                    autocomplete="off"
                    title="Must be at least 3 characters long"
                    required
                  />
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">
                      <img src="/static/icons/search.svg" />
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </nav>
    <!-- handle flash messages if exist -->
    {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for
    category, message in messages %}
    <div
      class="alert alert-{{ category }} alert-dismissible fade show mb-0 text-center"
      role="alert"
    >
      {{ message|capitalize }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    <script>
      //Script to automatically close alerts after 10 seconds
      document.addEventListener("DOMContentLoaded", function () {
        const alerts = document.querySelectorAll(".alert");

        alerts.forEach(function (alert) {
          setTimeout(function () {
            alert.style.display = "none";
          }, 10000); // 10 seconds in milliseconds
        });
      });
    </script>
    {% endif %} {% endwith %}

    <main class="container-fluid text-center">{% block main %}{% endblock %}</main>

    <footer class="mb-5 small text-center text-muted"></footer>
  </body>
</html>
