{% extends "layout.html" %}
<!-- enter the page title here!-->
{% block title %} Manage Productions {% endblock %}
<!--head-->
{%block head %}
<script>
  // script to query raw materials of a certain recipe
  function recSearch(selectedValue) {
    $.ajax({
      type: "POST",
      url: "{{url_for('productions.search')}}",
      data: JSON.stringify({ data: selectedValue }),
      contentType: "application/json; charset=utf-8",
      dataType: "json",
      success: function (response) {
        // Clear existing inputs and messages
        $("#message").empty();
        $("#rmContainer").empty();
        for (let i = 0; i < response.ids.length; i++) {
          const id = response.ids[i];
          const name = response.names[i];
          const percent = response.percents[i];
          const stock = response.stocks[i].toFixed(1);
          const text = name + ": " + percent + "%," + " in-stock: " + stock + " Kgs";
          const groupDiv = $("<div>", {
            class: "input-group input-group-sm my-1",
          });
          const preDiv = $("<div>", {
            class: "input-group-prepend",
          });
          const span = $("<span>", {
            class: "input-group-text",
          });
          const input = $("<input>", {
            class: "form-control",
            type: "number",
            step: "0.1",
            min: "0",
            max: stock,
            id: "rm" + id,
            name: name,
            required: true,
          });
          span.append(text);
          preDiv.append(span);
          groupDiv.append(preDiv);
          groupDiv.append(input);
          $("#rmContainer").append(groupDiv);
        }
      },
      error: function (err) {
        $("#message").text("Error: " + err.responseText);
      },
    });
  }
</script>
<script>
  // script to show&hide the recipe selects
  function recipeChange(selectedValue) {
    $("#message").empty();
    $("#rmContainer").empty();
    const hiddenSelects = document.querySelectorAll(".recipe-select");
    hiddenSelects.forEach(function (select) {
      select.hidden = true;
      select.removeAttribute("required");
    });
    const selectedHiddenSelect = document.getElementById(`recipe${selectedValue}`);
    if (selectedHiddenSelect) {
      selectedHiddenSelect.hidden = false;
      selectedHiddenSelect.setAttribute("required", "required");
    }
  }
</script>
<script>
  // script for generating new batch numbers
  document.addEventListener("DOMContentLoaded", function () {
    function updateField() {
      //list of existing batch numbers
      const BatchNumbers = [{% for production in productions %}"{{ production.print_batch }}", {%endfor %}];
      const productionDateValue =
        document.getElementById("production_date").value;
      const productTypeValue =
        document.getElementById("product").value;
      const selectedDate = new Date(productionDateValue);
      const year = selectedDate.getFullYear().toString().slice(-2);
      const month = (selectedDate.getMonth() + 1).toString().padStart(2, "0");
      const date = selectedDate.getDate().toString().padStart(2, "0");
      const typeid = productTypeValue.toString().padStart(3, "0");
      if (!productionDateValue) {
        return;
      }
      let counter = 1;
      // Construct the string with the selected values
      let batchNumber = `${year}${month}${date}${typeid}${counter
        .toString()
        .padStart(2, "0")}`;
      while (BatchNumbers.includes(batchNumber)) {
        counter++;
        batchNumber = `${year}${month}${date}${typeid}${counter
          .toString()
          .padStart(2, "0")}`;
      }
      // Update the field above the button
      document.getElementById("batch_number").value = batchNumber;
      document.getElementById("batch-number").value = batchNumber;
    }
    // Add an event listener to trigger the updateField function when dropdown values change
    document
      .getElementById("production_date")
      .addEventListener("change", updateField);
    document
      .getElementById("product")
      .addEventListener("change", updateField);
  });
</script>
<!-- production_table search and sort from datatables.net -->
<script>
  // Function to set the minimum body width
  function setBodyMinWidth() {
    const table = $("#production_table");
    const tableWidth = table.width() + 24;
    document.body.style.minWidth = tableWidth + "px";
  }

  // Load the dataTable after page load
  document.addEventListener("DOMContentLoaded", function () {
    $("#production_table").dataTable({
      order: [0, "desc"],
      columnDefs: [
        {
          targets: [-1, -2],
          orderable: false,
        },
      ],
    });
    // Set the minimum body width initially
    setBodyMinWidth();
  });

  // An event listener to re-adjust column width on window resize
  let resizeTimer;

  window.addEventListener("resize", function () {
    clearTimeout(resizeTimer);
    resizeTimer = setTimeout(function () {
      var table = $("#production_table").DataTable();
      table.columns.adjust();
      // Set the minimum body width after each resize
      setBodyMinWidth();
    }, 250); // Adjust the delay time
  });
</script>
{% endblock %}
<!--body-->
{%block main %}
<div class="container mx-auto text-center">
  <button
    class="btn btn-success shadow sticky-top offset-sticky"
    type="button"
    data-bs-toggle="offcanvas"
    data-bs-target="#AddCanvas"
    aria-controls="AddCanvas"
  >
    + Add New Production
  </button>

  <!-- List of existing productions -->
  <h3 class="mt-3">Existing Productions</h3>
  <table id="production_table" class="table table-striped w-auto mx-auto">
    <thead>
      <tr>
        <th>Production Time</th>
        <th>Batch</th>
        <th>Product</th>
        <th>Quantity (Kg)</th>
        <th>Recipe</th>
        <th>Ingredient Usages</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for production in productions %}
      <tr>
        <td>{{ production.production_time }}</td>
        <td>{{ production.print_batch }}</td>
        <td>{{ production.type.name }}</td>
        <td>{{ production.quantity }}</td>
        <td>{{ production.recipe.name }}</td>
        <td>
          <p class="m-0 text-end">
            {% set sorted_ingredients = production.ingredients|list|sortgetu(production)|reverse %}
            {% for ingredient in sorted_ingredients %} {{ ingredient.type.name }}-{{
            ingredient.supplier.name }} ({{ ingredient.arriving_date.strftime('%y-%m-%d') }}):
            <strong>{{ production.getu(ingredient.id)|round(1) }} Kg</strong><br />{% endfor %}
          </p>
        </td>
        <td class="min-w">
          <form action="{{ url_for('productions.track') }}" method="post">
            <input type="hidden" name="track" value="{{ production.id }}" />
            <input
              type="image"
              src="/static/icons/arrow-right-square.svg"
              alt="track"
              name="production_track"
              title="Track {{ production.print_batch }}"
            />
          </form>
          <form
            id="del-{{production.id}}"
            action="{{ url_for('productions.delete_production') }}"
            method="post"
          >
            <input type="hidden" name="id" value="{{ production.id }}" />
            <img
              src="/static/icons/x-square.svg"
              alt="delete"
              name="production_delete"
              type="submit"
              title="Delete {{ production.print_batch }}"
              onclick="return confirmDelete('del-{{production.id}}', '{{ production.print_batch }}');"
            />
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<!-- offcanvas to add a new production -->
<div
  class="offcanvas offcanvas-start text-end"
  data-bs-scroll="true"
  tabindex="-1"
  id="AddCanvas"
  aria-labelledby="AddCanvasLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="AddCanvasLabel">Add New Production</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="container mx-auto">
      <span class="text-danger"
        >Notice that production instances cannot be edited directly. For any changes, delete and
        re-add!</span
      >
      <form method="POST" action="{{url_for('productions.productions')}}">
        <div class="row justify-content-md-center">
          <div class="col-md-auto">
            <div class="form-floating">
              <input
                class="form-control my-1"
                type="number"
                step="0.1"
                min="0.1"
                id="quantity"
                name="quantity"
                required
              />
              <label for="quantity">Production Quantity (Kg)</label>
            </div>
            <div class="form-floating">
              <input
                class="form-control my-1"
                type="datetime-local"
                id="production_date"
                name="production_date"
                required
              />
              <label for="production_date">Production Date</label>
            </div>
          </div>
          <div class="col-md-auto">
            <div class="form-floating">
              <select
                class="form-select my-1"
                id="product"
                name="product"
                onchange="recipeChange(this.value);"
                required
              >
                <option selected disabled value="">Select a Product</option>
                {% for ptype in ptypes|sort(attribute='name') %}
                <option value="{{ ptype.id }}">{{ ptype.name }}</option>
                {% endfor %}
              </select>
              <label for="product">Product</label>
            </div>
            <div class="form-floating">
              <input class="form-select my-1 recipe-select" id="recipe0" name="recipe0" readonly />
              {% for ptype in ptypes %}<select
                class="form-select my-1 recipe-select"
                id="recipe{{ ptype.id }}"
                name="recipe{{ ptype.id }}"
                onchange="recSearch(this.value);"
                hidden
              >
                <option value="" disabled selected>Select a recipe</option>
                {% for recipe in recipes|sort(attribute='name') %}{% if recipe.product == ptype.id
                %}
                <option value="{{ recipe.id }}">{{ recipe.name }}</option>
                {% endif %}{% endfor %}</select
              >{% endfor %}
              <label for="recipe0">Recipe</label>
            </div>
          </div>
        </div>
        <div class="row justify-content-md-center mt-1">
          <div id="message" class="form-text text-danger"></div>
          <div id="rmContainer"></div>
        </div>
        <div class="row justify-content-md-center mt-3">
          <div class="col-md-auto">
            <div class="form-floating">
              <input
                class="form-control my-1"
                id="batch-number"
                name="batch-number"
                type="text"
                placeholder="Batch Number"
                value=""
                aria-label="batch_number"
                readonly
              />
              <label for="batch-number">Batch Number</label>
              <input
                class="form-control"
                id="batch_number"
                name="batch_number"
                type="hidden"
                value=""
                aria-label="batch_number"
              />
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-success shadow">Add Production Instance</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
