{% extends "layout.html" %}
<!-- enter the page title here!-->
{% block title %} {{ product.name }} {% endblock %}
<!--head-->
{%block head %}
<script>
  // Load the dataTable after page load
  document.addEventListener("DOMContentLoaded", function () {
    $("#shipment_table").dataTable({
      order: [0, "dsc"],
    });
    $("#recipe_table").dataTable({
      order: [],
    });
    $("#production_table").dataTable({
      order: [0, "dsc"],
    });
  });
  function tableAdjust() {
    var aTable = $("#shipment_table").DataTable();
    var rTable = $("#recipe_table").DataTable();
    var pTable = $("#production_table").DataTable();
    aTable.columns.adjust().draw();
    rTable.columns.adjust().draw();
    pTable.columns.adjust().draw();
  }

  // An event listener to re-adjust column width on window resize
  window.addEventListener("resize", tableAdjust);
</script>{% endblock %}
<!--body-->
{%block main %}
<div class="container mx-auto text-center">
  <nav>
    <div class="mt-3"><h5 style="color: #c74b00;">{{ product.name }}</h5></div>
    <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
      <button
        class="nav-link active"
        id="nav-stock-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-stock"
        type="button"
        role="tab"
        aria-controls="nav-stock"
        aria-selected="true"
      >
Stock
      </button>
      <button
        class="nav-link"
        id="nav-shipments-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-shipments"
        type="button"
        role="tab"
        aria-controls="nav-shipments"
        aria-selected="false"
        tabindex="-1"
        onclick="tableAdjust()"
      >
Shipments
      </button>
      <button
        class="nav-link"
        id="nav-recipes-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-recipes"
        type="button"
        role="tab"
        aria-controls="nav-recipes"
        aria-selected="false"
        tabindex="-1"
        onclick="tableAdjust()"
      >
Recipes
      </button>
      <button
        class="nav-link"
        id="nav-productions-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-productions"
        type="button"
        role="tab"
        aria-controls="nav-productions"
        aria-selected="false"
        tabindex="-1"
        onclick="tableAdjust()""
      >
Productions
      </button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div
      class="tab-pane fade active show"
      id="nav-stock"
      role="tabpanel"
      aria-labelledby="nav-stock-tab"
    >
      <p>
        <strong>The current stock of {{ product.name|lower }} is {{product.stock|round(1)}} Kgs.</strong>
        <br />
        Total production is {{ product.prtotal|round(1) }} Kgs.<br />
        Total shipment is {{ (product.prtotal-product.stock)|round(1) }} Kgs.
      </p>
    </div>
    <div
      class="tab-pane fade"
      id="nav-shipments"
      role="tabpanel"
      aria-labelledby="nav-shipments-tab"
    >
      <h5 class="mb-4">List of {{ product.name|lower }} shipments:</h5>
      <table id="shipment_table" class="table table-striped w-auto mx-auto">
        <thead>
          <tr>
            <th>Shipping Date</th>
            <th>Destination</th>
            <th>Batch</th>
            <th>Quantity (Kg)</th>
          </tr>
        </thead>
        <tbody>
          {% for shipment in product.shipments %}
          <tr>
            <td>{{ shipment.shipping_date.strftime('%Y-%m-%d') }}</td>
            <td>{{ shipment.destination.name }}</td>
            <td>{{ shipment.production.print_batch }}</td>
            <td>{{ shipment.quantity }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="tab-pane fade" id="nav-recipes" role="tabpanel" aria-labelledby="nav-recipes-tab">
      <h5 class="mb-4">List of recipes for {{ product.name|lower }}:</h5>
      <table id="recipe_table" class="table table-striped w-auto mx-auto">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Ingredients</th>
          </tr>
        </thead>
        <tbody>
          {% for recipe in product.recipes %}
          <tr>
            <td>{{ recipe.name }}</td>
            <td>{{ recipe.description }}</td>
            <td class="text-end">
              {% set sorted_ingredients = recipe.ingredients|list|sortgetp(recipe)|reverse %} {% for
              ingredient in sorted_ingredients %} {{ ingredient.name }}:
              <strong>{{ recipe.getp(ingredient.id) }}%</strong><br />
              {% endfor %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div
      class="tab-pane fade"
      id="nav-productions"
      role="tabpanel"
      aria-labelledby="nav-productions-tab"
    >
      <h5 class="mb-4">List of production instances of {{ product.name|lower }}:</h5>
      <table id="production_table" class="table table-striped w-auto mx-auto">
        <thead>
          <tr>
            <th>Production Time</th>
            <th>Batch</th>
            <th>Recipe</th>
            <th>Quantity (Kg)</th>
            <th>Ingredient Usages</th>
          </tr>
        </thead>
        <tbody>
          {% for item in product.productions %}
          <tr>
            <td>{{ item.production_time }}</td>
            <td>{{ item.print_batch }}</td>
            <td>{{ item.recipe.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>
              <p class="m-0 text-end">
                {% set sorted_ingredients = item.ingredients|list|sortgetu(item)|reverse %}
                {% for ingredient in sorted_ingredients %} {{ ingredient.type.name }}-{{
                ingredient.source.name }} ({{ ingredient.arriving_date.strftime('%y-%m-%d') }}):
                <strong>{{ item.getu(ingredient.id) }} Kg</strong><br />{% endfor %}
              </p>
            </td>
            </td>
          </tr>
          {% endfor %}
        </tbody>
    </div>
  </div>
</div>
{% endblock %}
