{% extends "layout.html" %}
<!-- enter the page title here!-->
{% block title %} {{ production.name|safe }} {% endblock %}
<!--head-->
{%block head %} {% endblock %}
<!--body-->
{%block main %}
<div class="container mx-auto text-center">
  <nav>
    <div class="mt-3"><h5 style="color: #c74b00;">{{ production.name|safe }}</h5></div>
    <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
      <button
        class="nav-link active"
        id="nav-stock-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-stock"
        type="button"
        role="tab"
        aria-controls="nav-stock"
        aria-selected="true"
      >
Stock
      </button>
      <button
        class="nav-link"
        id="nav-shipments-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-shipments"
        type="button"
        role="tab"
        aria-controls="nav-shipments"
        aria-selected="false"
        tabindex="-1"
      >
Shipments
      </button>
      <button
        class="nav-link"
        id="nav-recipes-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-recipes"
        type="button"
        role="tab"
        aria-controls="nav-recipes"
        aria-selected="false"
        tabindex="-1"
      >
Recipes
      </button>
      <button
        class="nav-link"
        id="nav-productions-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-productions"
        type="button"
        role="tab"
        aria-controls="nav-productions"
        aria-selected="false"
        tabindex="-1"
      >
Productions
      </button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div
      class="tab-pane fade active show"
      id="nav-stock"
      role="tabpanel"
      aria-labelledby="nav-stock-tab"
    >
      <p>
        <strong>The current stock of {{ production.name|lower|safe }} is {{production.stock|round(1)}} Kgs.</strong>
        <br />
        Total production is {{ production.prtotal|round(1) }} Kgs.<br />
        Total shipment is {{ (production.prtotal-production.stock)|round(1) }} Kgs.
      </p>
    </div>
    <div
      class="tab-pane fade"
      id="nav-shipments"
      role="tabpanel"
      aria-labelledby="nav-shipments-tab"
    >
      <h5 class="mb-4">List of {{ production.name|lower|safe }} shipments:</h5>
      <table class="table table-striped w-auto mx-auto">
        <thead>
          <tr>
            <th>Destination</th>
            <th>Batch</th>
            <th>Shipping Date</th>
            <th>Quantity (Kg)</th>
          </tr>
        </thead>
        <tbody>
          {% for shipment in production.shipments|sort(attribute='shipping_date') %}
          <tr>
            <td>{{ shipment.destination.name|safe }}</td>
            <td>{{ shipment.production.print_batch|safe }}</td>
            <td>{{ shipment.shipping_date.strftime('%Y-%m-%d') }}</td>
            <td>{{ shipment.quantity }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="tab-pane fade" id="nav-recipes" role="tabpanel" aria-labelledby="nav-recipes-tab">
      <h5 class="mb-4">List of recipes for {{ production.name|lower|safe }}:</h5>
      <table class="table table-striped w-auto mx-auto">
        <thead>
          <tr>
            <th>Name</th>
            <th>Product</th>
            <th>Description</th>
            <th>Ingredients</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for recipe in production.recipes %}
          <tr>
            <td>{{ recipe.name|safe }}</td>
            <td>{{ recipe.product.name|safe }}</td>
            <td>{{ recipe.description|safe }}</td>
            <td class="text-end">
              {% set sorted_ingredients = recipe.ingredients|list|sortgetp(recipe)|reverse %} {% for
              ingredient in sorted_ingredients %} {{ ingredient.name|safe }}:
              <strong>{{ recipe.getp(ingredient.id)|safe }}%</strong><br />
              {% endfor %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div
      class="tab-pane fade"
      id="nav-productions"
      role="tabpanel"
      aria-labelledby="nav-productions-tab"
    >
      <h5 class="mb-4">List of production instances of {{ production.name|lower|safe }}:</h5>
      <table class="table table-striped w-auto mx-auto">
        <thead>
          <tr>
            <th>Type</th>
            <th>Batch</th>
            <th>Recipe</th>
            <th>Quantity (Kg)</th>
            <th>Production Time</th>
            <th>Ingredient Usages</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for item in production.productions|sort(attribute='production_time') %}
          <tr>
            <td>{{ item.type.name|safe }}</td>
            <td>{{ item.print_batch|safe }}</td>
            <td>{{ item.recipe.name|safe }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.production_time }}</td>
            <td>
              <p class="m-0 text-end">
                {% set sorted_ingredients = item.ingredients|list|sortgetu(item)|reverse %}
                {% for ingredient in sorted_ingredients %} {{ ingredient.type.name|safe }}-{{
                ingredient.source.name|safe }} ({{ ingredient.arriving_date.strftime('%y-%m-%d') }}):
                <strong>{{ item.getu(ingredient.id)|safe }} Kg</strong><br />{% endfor %}
              </p>
            </td>
            </td>
          </tr>
          {% endfor %}
        </tbody>
    </div>
  </div>
</div>
{% endblock %}
