{% extends "layout.html" %}
<!-- enter the page title here!-->
{% block title %} Manage Recipes {% endblock %}
<!-- and again here!-->
{% block navbar_title %} Product Recipes {% endblock %}
<!--head-->
{%block head %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const percentInputs = document.querySelectorAll(".percent-input");
    const form = document.getElementById("addForm");
    const sumResult = document.getElementById("sumResult");

    // Function to recalculate the sum and update the display
    function updateSum() {
      let sum = 0;

      percentInputs.forEach(function (input) {
        const value = parseFloat(parseFloat(input.value).toFixed(2));
        if (!isNaN(value)) {
          sum += value;
        }
      });

      sumResult.className = sum === 100 ? "text-success result" : "text-danger result";
      sumResult.textContent = "Sum: " + sum.toFixed(2);
    }

    // Add input event listeners to the percentInputs
    percentInputs.forEach(function (input) {
      input.addEventListener("input", updateSum);
    });

    // Add a submit event listener to the form
    form.addEventListener("submit", function (event) {
      updateSum(); // Ensure the sum is updated before form submission

      if (sumResult.className === "text-danger result") {
        alert("The sum of the fields must be 100.");
        event.preventDefault(); // Prevent the form submission if sum is not 100
      }
    });
    const checkboxContainer = document.getElementById("checkboxContainer");
    const checkboxes = checkboxContainer.querySelectorAll(".form-check-input");

    checkboxes.forEach(function (checkbox) {
      checkbox.addEventListener("change", function () {
        updateSum(); // Call updateSum when a checkbox is checked or unchecked
      });
    });
  });
  function toggleVisibility(elementId) {
    const element = document.getElementById(elementId);
    if (element) {
      if (element.classList.contains("d-none")) {
        element.classList.remove("d-none");
        element.classList.add("d-block");
      } else {
        element.classList.remove("d-block");
        element.classList.add("d-none");

        // Clear the inputs in the element.
        for (const input of element.querySelectorAll("input")) {
          input.value = "";
        }
      }
    }
  }
</script>
<script>
  function trackItemi(item) {
    const formName = "itrack-" + item;
    document.getElementById(formName).submit();
    return false; // Prevent the default link behavior
  }
  function trackItemp(item) {
    const formName = "ptrack-" + item;
    document.getElementById(formName).submit();
    return false; // Prevent the default link behavior
  }
</script>
{% endblock %}
<!--body-->
{%block main %}
<div class="container mx-auto text-center">
  <!-- List of existing recipes -->
  <h3 class="my-4">Existing Recipes</h3>
  <table class="table table-striped w-auto mx-auto">
    <thead>
      <tr>
        <th>Name</th>
        <th>Product</th>
        <th>Description</th>
        <th>Ingredients</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for recipe in recipes|reverse %}
      <tr>
        <td>{{ recipe.name|safe }}</td>
        <td>
          <form
            action="{{ url_for('types.ptrack') }}"
            method="post"
          >
            <input type="hidden" name="ptype_track" value="{{ recipe.product.id|safe }}" />
            <input
              title="Track {{ recipe.product.name|safe }}"
              type="submit"
              value="{{ recipe.product.name|safe }}"
            >
          </form>
        </td>
        <td>{{ recipe.description|safe }}</td>
        <td class="text-end">
            {% for ingredient in recipe.ingredients %}
          <form
            id="itrack-{{ ingredient.id|safe }}"
            action="{{ url_for('types.itrack') }}"
            method="post"
          >
            <input type="hidden" name="itype_track" value="{{ ingredient.id|safe }}" />
            <a
              href="{{ url_for('types.itrack') }}"
              class="itype-link"
              title="Track {{ ingredient.name|safe }}"
              onclick="return trackItemi('{{ ingredient.id|safe }}');"
              >{{ ingredient.name|safe }}: </a
            >
          </form><strong>{{
            recipe.getp(ingredient.id)|safe }}%</strong><br> {% endfor %}
        </td>
        <td>
          <form
            id="{{ recipe.name|escape_html|safe }}"
            action="{{ url_for('recipes.delete_recipe') }}"
            method="post"
          >
            <input type="hidden" name="id" value="{{ recipe.id }}" />
            <img
              src="/static/icons/x-square.svg"
              alt="delete"
              name="recipe_delete"
              type="submit"
              title="Delete {{ recipe.name|safe }}"
              onclick="return confirmDelete('{{ recipe.name|escape_html|safe }}');"
            />
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <button
    class="btn btn-success"
    type="button"
    data-bs-toggle="offcanvas"
    data-bs-target="#AddCanvas"
    aria-controls="AddCanvas"
  >
    + Add New Recipe
  </button>
</div>
<!-- offcanvas to add a new recipe -->
<div
  class="offcanvas offcanvas-start text-end"
  data-bs-scroll="true"
  tabindex="-1"
  id="AddCanvas"
  aria-labelledby="AddCanvasLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="AddCanvasLabel">Add New Recipe</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="container mx-auto">
      <form id="addForm" method="POST" action="{{url_for('recipes.recipes')}}">
        <div class="row">
          <div class="col-6">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="recipe_name"
                name="recipe_name"
                autocomplete="off"
                required
                placeholder="Enter the recipe name"
              />
              <label for="recipe_name">Recipe Name</label>
            </div>
          </div>
          <div class="col-6">
            <div class="form-floating">
              <select class="form-select" id="production_type" name="production_type" required>
                <option selected disabled value="">Select a type</option>
                {% for ptype in ptypes %}
                <option value="{{ ptype.id }}">{{ ptype.name|safe }}</option>
                {% endfor %}
              </select>
              <label for="production_type">Production type</label>
            </div>
          </div>
        </div>
        <div class="row justify-content-md-center my-2">
          <div class="form-floating">
            <textarea
              class="form-control"
              placeholder="Write source description"
              name="description"
              id="description"
              autocomplete="off"
              style="height: 100px"
            ></textarea>
            <label for="description">Recipe Description</label>
          </div>
        </div>
        <div class="text-start" id="checkboxContainer">
          <h6>Choose ingredientds to enter percent:</h6>
          {% for itype in itypes %}
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="checkbox"
              id="Checkbox-{{ itype.id }}"
              value=""
              onclick="toggleVisibility('div-{{ itype.id }}')"
            />
            <label class="form-check-label" for="Checkbox-{{ itype.id }}">{{ itype.name|safe }}</label>
          </div>
          {% endfor %}
        </div>
        <div class="row justify-content-md-center my-2">
          {% for itype in itypes %}
          <div id="div-{{ itype.id }}" class="form-floating d-none">
            <input
              class="form-control form-control-sm percent-input"
              type="number"
              step="0.01"
              id="inp-{{ itype.id }}"
              name="{{ itype.name|safe }}"
            />
            <label for="inp-{{ itype.id }}">{{ itype.name|safe }} percent</label>
          </div>

          {% endfor %}
        </div>
        <div class="row justify-content-md-center my-2">
          <small id="sumResult" class="result">Sum: 0.00</small>
        </div>
        <button type="submit" class="btn btn-success">Add Recipe</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
