{% extends "layout.html" %}
<!-- enter the page title here!-->
{% block title %} {{ recipe.name }} {% endblock %}
<!--head-->
{%block head %}
<!-- production and shipment table search and sort from datatables.net -->
<script>
  // Function to set the minimum body width
  function setBodyMinWidth() {
    const table1 = $("#production_table");
    const table2 = $("#shipment_table");

    // Get the widths of the tables
    const table1Width = table1.width();
    const table2Width = table2.width();

    // Calculate the maximum width among the tables and add 24 pixels
    const maxWidth = Math.max(table1Width, table2Width) + 24;

    // Set the minimum body width
    document.body.style.minWidth = maxWidth + "px";
  }
  // Load the dataTable after page load
  document.addEventListener("DOMContentLoaded", function () {
    $("#production_table").dataTable({
      order: [0, "desc"],
      columnDefs: [
        {
          targets: [-1],
          orderable: false,
        },
      ],
    });
    $("#shipment_table").dataTable({
      order: [0, "desc"],
    });
    // Set the minimum body width initially
    setBodyMinWidth();
  });
  function tableAdjust() {
    var pTable = $("#production_table").DataTable();
      var sTable = $("#shipment_table").DataTable();
      pTable.columns.adjust();
      sTable.columns.adjust();
      // Set the minimum body width after each resize
      setBodyMinWidth();
  }
  // An event listener to re-adjust column width on window resize
  let resizeTimer;

  window.addEventListener("resize", function () {
    clearTimeout(resizeTimer);
    resizeTimer = setTimeout(tableAdjust, 250); // Adjust the delay time
  });
</script>
{% endblock %}
<!--body-->
{%block main %}
<div class="container mx-auto text-center">
  <nav>
    <div class="mt-3">
      <h5 style="color: #c74b00">{{ recipe.name }} - {{recipe.type.name}}</h5>
    </div>
    <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
      <button
        class="nav-link active"
        id="nav-stock-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-stock"
        type="button"
        role="tab"
        aria-controls="nav-stock"
        aria-selected="true"
      >
        Stock
      </button>
      <button
        class="nav-link"
        id="nav-ingredients-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-ingredients"
        type="button"
        role="tab"
        aria-controls="nav-ingredients"
        aria-selected="false"
        tabindex="-1"
      >
        Ingredients
      </button>
      <button
        class="nav-link"
        id="nav-productions-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-productions"
        type="button"
        role="tab"
        aria-controls="nav-productions"
        aria-selected="false"
        tabindex="-1"
        onclick="tableAdjust()"
      >
        Productions
      </button>
      <button
        class="nav-link"
        id="nav-shipments-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-shipments"
        type="button"
        role="tab"
        aria-controls="nav-shipments"
        aria-selected="false"
        tabindex="-1"
        onclick="tableAdjust()"
      >
        Shipments
      </button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div
      class="tab-pane fade active show"
      id="nav-stock"
      role="tabpanel"
      aria-labelledby="nav-stock-tab"
    >
      <p>
        <strong
          >The current stock of {{recipe.type.name|lower}} produced with {{ recipe.name|lower }}
          recipe is {{ recipe.stock|round(1) }} Kgs.</strong
        ><br />Total production is {{ recipe.prtotal|round(1) }} Kgs.<br />Total shipment is {{
        (recipe.prtotal-recipe.stock)|round(1) }} Kgs.
      </p>
    </div>
    <div
      class="tab-pane fade"
      id="nav-ingredients"
      role="tabpanel"
      aria-labelledby="nav-ingredients-tab"
    >
      <h5 class="mb-4">
        Ingredients of {{ recipe.name|lower }} recipe for {{recipe.type.name|lower}}:
      </h5>
      <table class="table table-striped w-auto mx-auto">
        <thead>
          <tr>
            <th>Ingredients</th>
            <th>Quantity (%)</th>
          </tr>
        </thead>
        <tbody>
          {% set sorted_ingredients = recipe.ingredients|list|sortgetp(recipe)|reverse %} {% for
          ingredient in sorted_ingredients %}
          <tr>
            <td>{{ ingredient.name }}</td>
            <td>{{ recipe.getp(ingredient.id) }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div
      class="tab-pane fade"
      id="nav-productions"
      role="tabpanel"
      aria-labelledby="nav-productions-tab"
    >
      <h5 class="mb-4">
        List of {{recipe.type.name|lower}} production instances with {{ recipe.name|lower }} recipe:
      </h5>
      <table id="production_table" class="table table-striped w-auto mx-auto">
        <thead>
          <tr>
            <th>Production Time</th>
            <th>Batch</th>
            <th>Production Quantity (Kg)</th>
            <th>Ingredient Usages</th>
          </tr>
        </thead>
        <tbody>
          {% for production in recipe.productions %}
          <tr>
            <td>{{ production.production_time }}</td>
            <td>{{ production.print_batch }}</td>
            <td>{{ production.quantity }}</td>
            <td>
              <p class="m-0 text-end">
                {% set sorted_ingredients = production.ingredients|list|sortgetu(production)|reverse
                %} {% for ingredient in sorted_ingredients %} {{ ingredient.type.name }}-{{
                ingredient.supplier.name }} ({{ ingredient.arriving_date.strftime('%y-%m-%d') }}):
                <strong>{{ production.getu(ingredient.id) }} Kg</strong><br />{% endfor %}
              </p>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div
      class="tab-pane fade"
      id="nav-shipments"
      role="tabpanel"
      aria-labelledby="nav-shipments-tab"
    >
      <h5 class="mb-4">
        List of shipments of {{recipe.type.name|lower}} produced with {{ recipe.name|lower }}
        recipe:
      </h5>
      <table id="shipment_table" class="table table-striped w-auto mx-auto">
        <thead>
          <tr>
            <th>Shipping Date</th>
            <th>Customer</th>
            <th>Batch</th>
            <th>Quantity (Kg)</th>
          </tr>
        </thead>
        <tbody>
          {% for shipment in recipe.shipments %}
          <tr>
            <td>{{ shipment.shipping_date.strftime('%Y-%m-%d') }}</td>
            <td>{{ shipment.customer.name }}</td>
            <td>{{ shipment.production.print_batch }}</td>
            <td>{{ shipment.quantity }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
