{% extends "layout.html" %}
<!-- enter the page title here!-->
{% block title %} Manage Shipments {% endblock %}
<!--head-->
{% block head %}
<script>
  // script to query production.stock for a certain batch number
  function stockSearch(selectedValue) {
    $.ajax({
      type: "POST",
      url: "{{ url_for('shipments.search') }}",
      data: JSON.stringify({ data: selectedValue }),
      contentType: "application/json; charset=utf-8",
      dataType: "json",
      success: function (response) {
        // Clear existing inputs and messages
        $("#message").empty();
        const stock = response.stock.toFixed(1);
        const text = "stock: " + stock + " Kgs";
        $("#message").append(text);

        // Update the max attribute of the quantity input
        const quantityInput = document.getElementById("quantity");
        quantityInput.max = stock;
      },
      error: function (err) {
        $("#message").text("Error: " + err.responseText);
      },
    });
  }
</script>
<!-- script to populate edit canvas based on the item selected for edit -->
<script>
  function populateCanvas(shipmentId, productionId, productionId, shippingDate, quantity) {
    // Get the canvas element
    const editCanvas = document.getElementById("EditCanvas");

    // Populate the canvas form fields
    editCanvas.querySelector("#edit-shipment-id").value = shipmentId;
    editCanvas.querySelector("#edit-production_id").value = productionId;
    editCanvas.querySelector("#edit-customer_id").value = productionId;
    editCanvas.querySelector("#edit-shipping_date").value = shippingDate;
    editCanvas.querySelector("#edit-quantity").value = quantity;
  }
</script>
<!-- shipment_table search and sort from datatables.net -->
<script>
  // load the dataTable after page load
  document.addEventListener("DOMContentLoaded", function () {
    $("#shipment_table").dataTable({
      order: [0, "dsc"],
      columnDefs: [
        {
          targets: [-1, -2, -3],
          orderable: false,
        },
      ],
    });
  });
  //  an event listener to re-adjust column width on window resize
  window.addEventListener("resize", function () {
    var table = $("#shipment_table").DataTable();
    table.columns.adjust().draw();
  });
</script>
{% endblock %}
<!--body-->
{%block main %}
<div class="container mx-auto text-center">
  <h3 class="my-4">Existing Shipments</h3>
  <!-- List of existing shipments -->
  <table id="shipment_table" class="table table-striped w-auto mx-auto">
    <thead>
      <tr>
        <th>Shipping Date</th>
        <th>Customer</th>
        <th>Product</th>
        <th>Quantity (Kg)</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for shipment in shipments %}
      <tr>
        <td>{{ shipment.shipping_date.strftime('%Y-%m-%d') }}</td>
        <td>{{ shipment.customer.name }}</td>
        <td>{{ shipment.production.type.name }} : {{ shipment.production.print_batch }}</td>
        <td>{{ shipment.quantity }}</td>
        <td>
          <form action="{{ url_for('shipments.track') }}" method="post">
            <input type="hidden" name="track" value="{{ shipment.id }}" />
            <input
              type="image"
              src="/static/icons/arrow-right-square.svg"
              alt="track"
              name="shipment_track"
              title="Track this {{ shipment.production.type.name }} shipment"
            />
          </form>
        </td>
        <td>
          <img
            src="/static/icons/pencil-square.svg"
            alt="edit"
            name="shipment_edit"
            type="button"
            class="edit-shipment"
            title="Edit this {{ shipment.production.type.name }} shipment"
            data-bs-toggle="offcanvas"
            data-bs-target="#EditCanvas"
            aria-controls="EditCanvas"
            onclick="populateCanvas(
              '{{ shipment.id }}',
              '{{ shipment.production.id }}',
              '{{ shipment.customer_id }}',
              '{{ shipment.shipping_date }}',
              '{{ shipment.quantity }}'
            );"
          />
        </td>
        <td>
          <form
            id="del-{{ shipment.id }}"
            action="{{ url_for('shipments.delete_shipment') }}"
            method="post"
          >
            <input type="hidden" name="id" value="{{ shipment.id }}" />
            <img
              src="/static/icons/x-square.svg"
              alt="delete"
              name="shipment_delete"
              type="submit"
              title="Delete this {{ shipment.production.type.name }} shipment"
              onclick="return confirmDelete('del-{{ shipment.id }}', '{{ shipment.production.type.name|escape_html }} to {{ shipment.customer.name|escape_html }}');"
            />
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <button
    class="btn btn-success"
    type="button"
    data-bs-toggle="offcanvas"
    data-bs-target="#AddCanvas"
    aria-controls="AddCanvas"
  >
    + Add New Shipment
  </button>
</div>
<!-- offcanvas to add a new shipment -->
<div
  class="offcanvas offcanvas-start text-end"
  data-bs-scroll="true"
  tabindex="-1"
  id="AddCanvas"
  aria-labelledby="AddCanvasLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="AddCanvasLabel">Add New Shipment</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="container mx-auto">
      <form method="POST" action="{{ url_for('shipments.shipments') }}">
        <div class="row">
          <div class="col-auto">
            <div class="form-floating">
              <select
                class="form-select"
                id="production_id"
                name="production_id"
                onchange="stockSearch(this.value);"
                required
              >
                <option selected disabled value="">Select a production</option>
                {% for production in productions|sort(attribute='production_time') %} {% if
                production.stock > 0 %}
                <option value="{{ production.id }}">
                  {{ production.type.name }} : {{ production.print_batch }}
                </option>
                {% endif %} {% endfor %}
              </select>
              <label for="production_id">Production</label>
            </div>
            <div id="message" class="form-text text-danger"></div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-auto">
            <div class="form-floating">
              <select class="form-select" id="customer_id" name="customer_id" required>
                <option selected disabled value="">Select a customer</option>
                {% for customer in customers %}
                <option value="{{ customer.id }}">
                  {{ customer.name }} ({{ customer.type }})
                </option>
                {% endfor %}
              </select>
              <label for="customer_id">Customer</label>
            </div>
          </div>
        </div>
        <div class="row my-4">
          <div class="col-auto">
            <div class="form-floating">
              <input
                class="form-control"
                type="datetime-local"
                id="shipping_date"
                name="shipping_date"
                required
              />
              <label for="shipping_date">Shipping Date</label>
            </div>
          </div>
        </div>
        <div class="row my-4">
          <div class="col-auto">
            <div class="form-floating">
              <input
                class="form-control"
                type="number"
                step="0.1"
                id="quantity"
                name="quantity"
                required
              />
              <label for="quantity">Quantity (Kg)</label>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-success">Add Shipment</button>
      </form>
    </div>
  </div>
</div>
<!-- offcanvas for shipment editing -->
<div
  class="offcanvas offcanvas-end text-start"
  data-bs-scroll="true"
  tabindex="-1"
  id="EditCanvas"
  aria-labelledby="EditCanvasLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="EditCanvasLabel">Edit Shipments</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="container mx-auto">
      <form method="POST" action="{{ url_for('shipments.edit_shipment') }}">
        <div class="row">
          <div class="col-auto">
            <div class="form-floating">
              <input type="hidden" name="id" id="edit-shipment-id" />
              <select class="form-select" id="edit-production_id" name="production_id" required>
                {% for production in productions|sort(attribute='production_time') %}
                <option value="{{ production.id }}">
                  {{ production.type.name }} : {{ production.print_batch }}
                </option>
                {% endfor %}
              </select>
              <label for="edit-production_id">Production</label>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-auto">
            <div class="form-floating">
              <select class="form-select" id="edit-customer_id" name="customer_id" required>
                {% for customer in customers %}
                <option value="{{ customer.id }}">
                  {{ customer.name }} ({{ customer.type }})
                </option>
                {% endfor %}
              </select>
              <label for="edit-customer_id">Customer</label>
            </div>
          </div>
        </div>
        <div class="row my-4">
          <div class="col-auto">
            <div class="form-floating">
              <input
                class="form-control"
                type="datetime-local"
                id="edit-shipping_date"
                name="shipping_date"
                required
              />
              <label for="edit-shipping_date">Shipping Date</label>
            </div>
          </div>
        </div>
        <div class="row my-4">
          <div class="col-auto">
            <div class="form-floating">
              <input
                class="form-control"
                type="number"
                step="0.1"
                id="edit-quantity"
                name="quantity"
                required
              />
              <label for="edit-quantity">Quantity (Kg)</label>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-warning">Edit Shipment</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
