{% extends "layout.html" %}
<!-- enter the page title here!-->
{% block title %} Manage Sources {% endblock %}
<!--head-->
{%block head %}
<script>
  function populateCanvas(
    sourceId,
    sourceName,
    contactPerson,
    contactInformation,
    sourceType,
    sourceLocation,
    sourceDescription
  ) {
    // Get the canvas element
    const editCanvas = document.getElementById("EditCanvas");

    // Populate the canvas form fields
    editCanvas.querySelector("#edit-source-id").value = sourceId;
    editCanvas.querySelector("#edit-name").value = sourceName;
    editCanvas.querySelector("#edit-contact_person").value = contactPerson;
    editCanvas.querySelector("#edit-contact_information").value = contactInformation;
    editCanvas.querySelector("#edit-type").value = sourceType;
    editCanvas.querySelector("#edit-location").value = sourceLocation;
    editCanvas.querySelector("#edit-description").value = sourceDescription;
  }
</script>
<!-- source_table search and sort from datatables.net -->
<script>
  // load the dataTable after page load
  document.addEventListener("DOMContentLoaded", function () {
    $("#source_table").dataTable({
      order: [],
      columnDefs: [
        {
          targets: [-1, -2, -3],
          orderable: false,
        },
      ],
    });
  });
  //  an event listener to re-adjust column width on window resize
  window.addEventListener("resize", function () {
    var table = $("#source_table").DataTable();
    table.columns.adjust().draw();
  });
</script>
{% endblock %}
<!--body-->
{%block main %}
<div class="container mx-auto text-center">
  <!-- List of existing sources -->
  <div class="container mx-auto">
    <h3 class="my-4">Existing Sources</h3>
    <table id="source_table" class="table table-striped w-auto mx-auto">
      <thead>
        <tr>
          <th>Source</th>
          <th>Contact</th>
          <th>Type</th>
          <th>Location</th>
          <th>Description</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for source in sources %}
        <tr>
          <td>{{ source.name }}</td>
          <td>{{ source.contact_person }}: {{ source.contact_information }}</td>
          <td>{{ source.type }}</td>
          <td>{{ source.location }}</td>
          <td>{{ source.description }}</td>
          <td>
            <form action="{{ url_for('sources.track') }}" method="post">
              <input type="hidden" name="track" value="{{ source.id }}" />
              <input
                type="image"
                src="/static/icons/arrow-right-square.svg"
                alt="track"
                name="source_track"
                title="Track {{ source.name }}"
              />
            </form>
          </td>
          <td>
            <img
              src="/static/icons/pencil-square.svg"
              alt="edit"
              name="source_edit"
              type="button"
              class="edit-source"
              title="Edit {{ source.name }}"
              data-bs-toggle="offcanvas"
              data-bs-target="#EditCanvas"
              aria-controls="EditCanvas"
              onclick="populateCanvas(
              '{{ source.id }}',
              '{{ source.name|escape_html }}',
              '{{ source.contact_person|escape_html }}',
              '{{ source.contact_information|escape_html }}',
              '{{ source.type|escape_html }}',
              '{{ source.location|escape_html }}',
              '{{ source.description|escape_html }}'
            );"
            />
          </td>
          <td>
            <form
              id="del-{{ source.id }}"
              action="{{ url_for('sources.delete_source') }}"
              method="post"
            >
              <input type="hidden" name="id" value="{{ source.id }}" />
              <img
                src="/static/icons/x-square.svg"
                alt="delete"
                name="source_delete"
                type="submit"
                title="Delete {{ source.name }}"
                onclick="return confirmDelete('del-{{ source.id }}', '{{ source.name|escape_html }}');"
              />
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <button
    class="btn btn-success"
    type="button"
    data-bs-toggle="offcanvas"
    data-bs-target="#AddCanvas"
    aria-controls="AddCanvas"
  >
    + Add New Source
  </button>
</div>
<!-- offcanvas to add a new source -->
<div
  class="offcanvas offcanvas-start text-end"
  data-bs-scroll="true"
  tabindex="-1"
  id="AddCanvas"
  aria-labelledby="AddCanvasLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="AddCanvasLabel">Add New Source</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="container mx-auto">
      <form method="POST" action="{{ url_for('sources.sources') }}">
        <div class="row">
          <div class="col-6">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                autocomplete="off"
                required
                placeholder="Enter the source name"
              />
              <label for="name">Source Name</label>
            </div>
          </div>
          <div class="col-6">
            <div class="form-floating">
              <select class="form-select" id="type" name="type" required>
                <option selected disabled value="">Select a type</option>
                <option value="Wholesaler">Wholesaler</option>
                <option value="Online Retailer">Online Retailer</option>
                <option value="Local Market">Local Market</option>
                <option value="Flour Mill">Flour Mill</option>
                <option value="Farm">Farm</option>
              </select>
              <label for="type">Source type</label>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-4">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="contact_person"
                name="contact_person"
                autocomplete="off"
                required
                placeholder="Enter the contact name"
              />
              <label for="contact_person">Contact Person</label>
            </div>
          </div>
          <div class="col-4">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="contact_information"
                name="contact_information"
                autocomplete="off"
                required
                placeholder="Enter the contact info"
              />
              <label for="contact_information">Contact Information</label>
            </div>
          </div>
          <div class="col-4">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="location"
                name="location"
                autocomplete="off"
                required
                placeholder="Enter the location"
              />
              <label for="location">Source Location</label>
            </div>
          </div>
        </div>
        <div class="row my-4">
          <div class="form-floating">
            <textarea
              class="form-control"
              placeholder="Write source description"
              name="description"
              id="description"
              autocomplete="off"
              style="height: 100px"
            ></textarea>
            <label for="description">Source Description</label>
          </div>
        </div>
        <button type="submit" class="btn btn-success">Add Source</button>
      </form>
    </div>
  </div>
</div>
<!-- offcanvas for source editing -->
<div
  class="offcanvas offcanvas-end text-start"
  data-bs-scroll="true"
  tabindex="-1"
  id="EditCanvas"
  aria-labelledby="EditCanvasLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="EditCanvasLabel">Edit Source</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="container mx-auto">
      <form method="POST" action="{{ url_for('sources.edit_source') }}">
        <div class="row">
          <div class="col-6">
            <div class="form-floating">
              <input type="hidden" name="id" id="edit-source-id" />
              <input
                type="text"
                class="form-control"
                id="edit-name"
                name="name"
                autocomplete="off"
                required
                readonly
              />
              <label for="edit-name">Source Name</label>
            </div>
          </div>
          <div class="col-6">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="edit-type"
                name="type"
                required
                readonly
              />
              <label for="edit-contact_person">Source type</label>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-4">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="edit-contact_person"
                name="contact_person"
                autocomplete="off"
                required
                placeholder="Enter the contact name"
              />
              <label for="edit-contact_person">Contact Person</label>
            </div>
          </div>
          <div class="col-4">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="edit-contact_information"
                name="contact_information"
                autocomplete="off"
                required
                placeholder="Enter the contact info"
              />
              <label for="edit-contact_information">Contact Information</label>
            </div>
          </div>
          <div class="col-4">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="edit-location"
                name="location"
                autocomplete="off"
                required
                placeholder="Enter the location"
              />
              <label for="edit-location">Source Location</label>
            </div>
          </div>
        </div>
        <div class="row my-4">
          <div class="form-floating">
            <textarea
              class="form-control"
              placeholder="Write source description"
              name="description"
              id="edit-description"
              autocomplete="off"
              style="height: 100px"
            ></textarea>
            <label for="edit-description">Source Description</label>
          </div>
        </div>
        <button type="submit" class="btn btn-warning">Edit Source</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
