{% extends "layout.html" %}
<!-- enter the page title here!-->
{% block title %} Manage Suppliers {% endblock %}
<!--head-->
{%block head %}
<!-- script to populate edit canvas based on the item selected for edit -->
<script>
  function populateCanvas(
    supplierId,
    supplierName,
    contactPerson,
    contactInformation,
    supplierType,
    supplierLocation,
    supplierDescription
  ) {
    // Get the canvas element
    const editCanvas = document.getElementById("EditCanvas");

    // Populate the canvas form fields
    editCanvas.querySelector("#edit-supplier-id").value = supplierId;
    editCanvas.querySelector("#edit-name").value = supplierName;
    editCanvas.querySelector("#edit-contact_person").value = contactPerson;
    editCanvas.querySelector("#edit-contact_information").value = contactInformation;
    editCanvas.querySelector("#edit-type").value = supplierType;
    editCanvas.querySelector("#edit-location").value = supplierLocation;
    editCanvas.querySelector("#edit-description").value = supplierDescription;
  }
</script>
<!-- supplier_table search and sort from datatables.net -->
<script>
  // load the dataTable after page load
  document.addEventListener("DOMContentLoaded", function () {
    $("#supplier_table").dataTable({
      columnDefs: [
        {
          targets: [1, -1, -2, -3, -4],
          orderable: false,
        },
      ],
    });
  });
  //  an event listener to re-adjust column width on window resize
  window.addEventListener("resize", function () {
    var table = $("#supplier_table").DataTable();
    table.columns.adjust().draw();
  });
</script>
{% endblock %}
<!--body-->
{%block main %}
<div class="container mx-auto text-center">
  <button
    class="btn btn-success shadow sticky-top"
    type="button"
    data-bs-toggle="offcanvas"
    data-bs-target="#AddCanvas"
    aria-controls="AddCanvas"
  >
    + Add New Supplier
  </button>
  <!-- List of existing suppliers -->
  <h3 class="mt-3">Existing Suppliers</h3>
  <table id="supplier_table" class="table table-striped w-auto mx-auto">
    <thead>
      <tr>
        <th>Supplier</th>
        <th>Contact</th>
        <th>Type</th>
        <th>Location</th>
        <th>Description</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for supplier in suppliers %}
      <tr>
        <td>{{ supplier.name }}</td>
        <td>{{ supplier.contact_person }}: {{ supplier.contact_information }}</td>
        <td>{{ supplier.type }}</td>
        <td>{{ supplier.location }}</td>
        <td>{{ supplier.description }}</td>
        <td>
          <form action="{{ url_for('suppliers.track') }}" method="post">
            <input type="hidden" name="track" value="{{ supplier.id }}" />
            <input
              type="image"
              src="/static/icons/arrow-right-square.svg"
              alt="track"
              name="supplier_track"
              title="Track {{ supplier.name }}"
            />
          </form>
        </td>
        <td>
          <img
            src="/static/icons/pencil-square.svg"
            alt="edit"
            name="supplier_edit"
            type="button"
            class="edit-supplier"
            title="Edit {{ supplier.name }}"
            data-bs-toggle="offcanvas"
            data-bs-target="#EditCanvas"
            aria-controls="EditCanvas"
            onclick="populateCanvas(
              '{{ supplier.id }}',
              '{{ supplier.name|escape_html }}',
              '{{ supplier.contact_person|escape_html }}',
              '{{ supplier.contact_information|escape_html }}',
              '{{ supplier.type|escape_html }}',
              '{{ supplier.location|escape_html }}',
              '{{ supplier.description|escape_html }}'
            );"
          />
        </td>
        <td>
          <form
            id="del-{{ supplier.id }}"
            action="{{ url_for('suppliers.delete_supplier') }}"
            method="post"
          >
            <input type="hidden" name="id" value="{{ supplier.id }}" />
            <img
              src="/static/icons/x-square.svg"
              alt="delete"
              name="supplier_delete"
              type="submit"
              title="Delete {{ supplier.name }}"
              onclick="return confirmDelete('del-{{ supplier.id }}', '{{ supplier.name|escape_html }}');"
            />
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<!-- offcanvas to add a new supplier -->
<div
  class="offcanvas offcanvas-start text-end"
  data-bs-scroll="true"
  tabindex="-1"
  id="AddCanvas"
  aria-labelledby="AddCanvasLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="AddCanvasLabel">Add New Supplier</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="container mx-auto">
      <form method="POST" action="{{ url_for('suppliers.suppliers') }}">
        <div class="row">
          <div class="col-6">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                autocomplete="off"
                required
                placeholder="Enter the supplier name"
              />
              <label for="name">Supplier Name</label>
            </div>
          </div>
          <div class="col-6">
            <div class="form-floating">
              <select class="form-select" id="type" name="type" required>
                <option selected disabled value="">Select a type</option>
                <option value="Wholesaler">Wholesaler</option>
                <option value="Online Retailer">Online Retailer</option>
                <option value="Local Market">Local Market</option>
                <option value="Flour Mill">Flour Mill</option>
                <option value="Farm">Farm</option>
              </select>
              <label for="type">Supplier type</label>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-4">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="contact_person"
                name="contact_person"
                autocomplete="off"
                required
                placeholder="Enter the contact name"
              />
              <label for="contact_person">Contact Person</label>
            </div>
          </div>
          <div class="col-4">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="contact_information"
                name="contact_information"
                autocomplete="off"
                required
                placeholder="Enter the contact info"
              />
              <label for="contact_information">Contact Information</label>
            </div>
          </div>
          <div class="col-4">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="location"
                name="location"
                autocomplete="off"
                required
                placeholder="Enter the location"
              />
              <label for="location">Supplier Location</label>
            </div>
          </div>
        </div>
        <div class="row my-4">
          <div class="form-floating">
            <textarea
              class="form-control"
              placeholder="Write supplier description"
              name="description"
              id="description"
              autocomplete="off"
              style="height: 100px"
            ></textarea>
            <label for="description">Supplier Description</label>
          </div>
        </div>
        <button type="submit" class="btn btn-success shadow">Add Supplier</button>
      </form>
    </div>
  </div>
</div>
<!-- offcanvas for supplier editing -->
<div
  class="offcanvas offcanvas-end text-start"
  data-bs-scroll="true"
  tabindex="-1"
  id="EditCanvas"
  aria-labelledby="EditCanvasLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="EditCanvasLabel">Edit Supplier</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="container mx-auto">
      <form method="POST" action="{{ url_for('suppliers.edit_supplier') }}">
        <div class="row">
          <div class="col-6">
            <div class="form-floating">
              <input type="hidden" name="id" id="edit-supplier-id" />
              <input
                type="text"
                class="form-control"
                id="edit-name"
                name="name"
                autocomplete="off"
                required
                readonly
              />
              <label for="edit-name">Supplier Name</label>
            </div>
          </div>
          <div class="col-6">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="edit-type"
                name="type"
                required
                readonly
              />
              <label for="edit-contact_person">Supplier type</label>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-4">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="edit-contact_person"
                name="contact_person"
                autocomplete="off"
                required
                placeholder="Enter the contact name"
              />
              <label for="edit-contact_person">Contact Person</label>
            </div>
          </div>
          <div class="col-4">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="edit-contact_information"
                name="contact_information"
                autocomplete="off"
                required
                placeholder="Enter the contact info"
              />
              <label for="edit-contact_information">Contact Information</label>
            </div>
          </div>
          <div class="col-4">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="edit-location"
                name="location"
                autocomplete="off"
                required
                placeholder="Enter the location"
              />
              <label for="edit-location">Supplier Location</label>
            </div>
          </div>
        </div>
        <div class="row my-4">
          <div class="form-floating">
            <textarea
              class="form-control"
              placeholder="Write supplier description"
              name="description"
              id="edit-description"
              autocomplete="off"
              style="height: 100px"
            ></textarea>
            <label for="edit-description">Supplier Description</label>
          </div>
        </div>
        <button type="submit" class="btn btn-warning shadow">Edit Supplier</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
