{% extends "layout.html" %}
<!-- enter the page title here!-->
{% block title %} Track Results {% endblock %}
<!--head-->
{%block head %} {% endblock %}
<!--body-->
{%block main %}
<div class="container mx-auto text-center">
  <!-- List of exact matches -->
  <div class="container mx-auto">
    <table class="table w-auto mx-auto mt-4">
      <thead>
        <th class="text-start">
          <form class="form-inline" action="{{ url_for('index.index') }}" method="post">
            <div class="row">
              <div class="input-group">
                <input
                  type="search"
                  name="track"
                  id="track"
                  class="form-control"
                  placeholder="type what to track"
                  aria-label="type what to track"
                  autocomplete="on"
                  title="Must be at least 3 characters long"
                  value="{{ search_query }}"
                  required
                />
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="submit">
                    <img src="/static/icons/search.svg" />
                  </button>
                </div>
              </div>
            </div>
          </form>
          <div class="mt-4">Track search results:</div>
        </th>
      </thead>
      <tbody>
        {% for result in results %}
        <tr>
          <td>{{ result["name"] }}</td>
          <td>
            <form action="{{ result['type'] }}" method="post">
              <input type="hidden" name="track" value="{{ result['id'] }}" />
              <input
                type="image"
                src="/static/icons/arrow-right-square.svg"
                alt="track"
                name="track"
                title="Go to track page"
              />
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
