{% extends "layout.html" %}
<!-- enter the page title here!-->
{% block title %} Track Results {% endblock %}
<!-- and again here!-->
{% block navbar_title %} Track Results {% endblock %}
<!--head-->
{%block head %} {% endblock %}
<!--body-->
{%block main %}
<div class="container mx-auto text-center">
  <!-- List of exact matches -->
  <div class="container mx-auto">
    <h3 class="my-4">Track search results</h3>
    <table class="table w-auto mx-auto">
      <tbody>
        {% for result in results %}
        <tr>
          <td>{{ result["name"]|safe }}</td>
          <td>
            <form action="{{ result['type'] }}" method="post">
              <input type="hidden" name="track" value="{{ result['id']|safe }}" />
              <input
                type="image"
                src="/static/icons/arrow-right-square.svg"
                alt="track"
                name="track"
                title="Go to track page"
              />
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
