{% extends "layout.html" %}
<!-- enter the page title here!-->
{% block title %} Manage Types {% endblock %}
<!-- and again here!-->
{% block navbar_title %} Ingredient & Production Types {% endblock %}
<!--head-->
{%block head %}
<script>
  // Attach the populateModal() function to the edit buttons
  $(document).ready(function () {
    const editButtonsR = document.querySelectorAll(".edit-itype");
    editButtonsR.forEach((button) => {
      button.addEventListener("click", populateModalR);
    });
  });

  // Populate the modal form
  function populateModalR(event) {
    // Get the modal element
    const editModal = document.getElementById("EditItypeCanvas");

    // Get the data attributes from the clicked button
    const itypeId = event.target.getAttribute("data-itype-id");
    const itypeName = event.target.getAttribute("data-itype-name");

    // Populate the modal form fields
    editModal.querySelector("#edit-itype-id").value = itypeId;
    editModal.querySelector("#edit-itype-name").value = itypeName;
  }
</script>
<script>
  // Attach the populateModal() function to the edit buttons
  $(document).ready(function () {
    const editButtonsP = document.querySelectorAll(".edit-ptype");
    editButtonsP.forEach((button) => {
      button.addEventListener("click", populateModalP);
    });
  });

  // Populate the modal form
  function populateModalP(event) {
    // Get the modal element
    const editModal = document.getElementById("EditPtypeCanvas");

    // Get the data attributes from the clicked button
    const ptypeId = event.target.getAttribute("data-ptype-id");
    const ptypeName = event.target.getAttribute("data-ptype-name");

    // Populate the modal form fields
    editModal.querySelector("#edit-ptype-id").value = ptypeId;
    editModal.querySelector("#edit-ptype-name").value = ptypeName;
  }
</script>
<script>
  function trackItemi(item) {
    const formName = "itrack-" + item;
    document.getElementById(formName).submit();
    return false; // Prevent the default link behavior
  }
  function trackItemp(item) {
    const formName = "ptrack-" + item;
    document.getElementById(formName).submit();
    return false; // Prevent the default link behavior
  }
</script>
{% endblock %}
<!--body-->
{%block main %}
<div class="container mx-auto text-center">
  <div class="row">
    <div class="col">
      <h3 class="my-4">Existing Ingredient Types</h3>
      <!-- List of existing ingredient types -->
      <table class="table table-striped w-auto mx-auto">
        <thead>
          <tr>
            <th>Ingredient</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for itype in itypes %}
          <tr>
            <td>
              <form
                id="itrack-{{ itype.id|safe }}"
                action="{{ url_for('types.itrack') }}"
                method="post"
              >
                <input type="hidden" name="itype_track" value="{{ itype.id|safe }}" />
                <a
                  href="{{ url_for('types.itrack') }}"
                  class="itype-link"
                  onclick="return trackItemi('{{ itype.id|safe }}');"
                  >{{ itype.name|safe }}</a
                >
              </form>
            </td>
            <td>
              <img
                src="/static/icons/pencil-square.svg"
                alt="edit"
                name="itype_edit"
                type="button"
                class="edit-itype"
                data-bs-toggle="offcanvas"
                data-bs-target="#EditItypeCanvas"
                aria-controls="EditItypeCanvas"
                data-itype-id="{{ itype.id }}"
                data-itype-name="{{ itype.name|safe }}"
                title="Edit {{ itype.name|safe }}"
              />
            </td>
            <td>
              <form
                id="{{ itype.name|escape_html|safe }}"
                action="{{ url_for('types.delete_type') }}"
                method="post"
              >
                <input type="hidden" name="itype_delete" value="{{ itype.id }}" />
                <img
                  src="/static/icons/x-square.svg"
                  alt="delete"
                  name="itype_delete"
                  type="submit"
                  title="Delete {{ itype.name|safe }}"
                  onclick="return confirmDelete('{{ itype.name|escape_html|safe }}');"
                />
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <button
        class="btn btn-success"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#AddItypeCanvas"
        aria-controls="AddItypeCanvas"
      >
        + Add New Ingredient Type
      </button>
    </div>
    <div class="vr px-0"></div>
    <div class="col">
      <h3 class="my-4">Existing Production Types</h3>
      <!-- List of existing production types -->
      <table class="table table-striped w-auto mx-auto">
        <thead>
          <tr>
            <th>Production</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for ptype in ptypes %}
          <tr>
            <td>
              <form
                id="ptrack-{{ ptype.id|safe }}"
                action="{{ url_for('types.ptrack') }}"
                method="post"
              >
                <input type="hidden" name="ptype_track" value="{{ ptype.id|safe }}" />
                <a
                  href="{{ url_for('types.ptrack') }}"
                  class="ptype-link"
                  onclick="return trackItemp('{{ ptype.id|safe }}');"
                  >{{ ptype.name|safe }}</a
                >
              </form>
            </td>
            <td>
              <img
                src="/static/icons/pencil-square.svg"
                alt="edit"
                name="ptype_edit"
                type="button"
                class="edit-ptype"
                data-bs-toggle="offcanvas"
                data-bs-target="#EditPtypeCanvas"
                aria-controls="EditPtypeCanvas"
                data-ptype-id="{{ ptype.id }}"
                data-ptype-name="{{ ptype.name|safe }}"
                title="Edit {{ ptype.name|safe }}"
              />
            </td>
            <td>
              <form
                id="{{ ptype.name|escape_html|safe }}"
                action="{{ url_for('types.delete_type') }}"
                method="post"
              >
                <input type="hidden" name="ptype_delete" value="{{ ptype.id }}" />
                <img
                  src="/static/icons/x-square.svg"
                  alt="delete"
                  name="ptype_delete"
                  type="submit"
                  title="Delete {{ ptype.name|safe }}"
                  onclick="return confirmDelete('{{ ptype.name|escape_html|safe }}');"
                />
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <button
        class="btn btn-success"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#AddPtypeCanvas"
        aria-controls="AddPtypeCanvas"
      >
        + Add New Production Type
      </button>
    </div>
  </div>
</div>
<!-- offcanvas to add a new ingredient -->
<div
  class="offcanvas offcanvas-start text-end"
  data-bs-scroll="true"
  tabindex="-1"
  id="AddItypeCanvas"
  aria-labelledby="AddItypeCanvasLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="AddItypeCanvasLabel">Add New Ingredient Type</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="container mx-auto">
      <form id="itype_form" method="POST" action="{{ url_for('types.types') }}">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="itype-name"
            name="name"
            autocomplete="off"
            required
            placeholder="Enter the ingredient name"
          />
          <label for="itype-name">Ingredient Name</label>
        </div>

        <button name="itype_form" type="submit" class="btn btn-success">Add Ingredient Type</button>
      </form>
    </div>
  </div>
</div>
<!-- offcanvas for ingredient type editing -->
<div
  class="offcanvas offcanvas-start text-end"
  data-bs-scroll="true"
  tabindex="-1"
  id="EditItypeCanvas"
  aria-labelledby="EditItypeCanvasLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="EditItypeCanvasLabel">Edit Ingredient Type</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="container mx-auto">
      <form id="itype_edit" method="POST" action="{{ url_for('types.edit_type') }}">
        <div class="form-floating">
          <input type="hidden" name="id" id="edit-itype-id" />
          <input
            type="text"
            class="form-control"
            id="edit-itype-name"
            name="name"
            autocomplete="off"
            required
            placeholder="Enter the Ingredient type name"
          />
          <label for="edit-itype-name">Ingredient Type Name</label>
        </div>

        <button name="itype_edit" type="submit" class="btn btn-warning">
          Edit Ingredient Type
        </button>
      </form>
    </div>
  </div>
</div>
<!-- offcanvas to add a new production -->
<div
  class="offcanvas offcanvas-end text-start"
  data-bs-scroll="true"
  tabindex="-1"
  id="AddPtypeCanvas"
  aria-labelledby="AddPtypeCanvasLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="AddPtypeCanvasLabel">Add New Production Type</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="container mx-auto">
      <form id="ptype_form" method="POST" action="{{ url_for('types.types') }}">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="ptype-name"
            name="name"
            autocomplete="off"
            required
            placeholder="Enter the production name"
          />
          <label for="ptype-name">Production Name</label>
        </div>

        <button name="ptype_form" type="submit" class="btn btn-success">Add Production Type</button>
      </form>
    </div>
  </div>
</div>
<!-- offcanvas for production type editing -->
<div
  class="offcanvas offcanvas-end text-start"
  data-bs-scroll="true"
  tabindex="-1"
  id="EditPtypeCanvas"
  aria-labelledby="EditPtypeCanvasLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="EditPtypeCanvasLabel">Edit Production Type</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="container mx-auto">
      <form id="ptype_edit" method="POST" action="{{ url_for('types.edit_type') }}">
        <div class="form-floating">
          <input type="hidden" name="id" id="edit-ptype-id" />
          <input
            type="text"
            class="form-control"
            id="edit-ptype-name"
            name="name"
            autocomplete="off"
            required
            placeholder="Enter the Ingredient type name"
          />
          <label for="edit-ptype-name">Production Type Name</label>
        </div>

        <button name="ptype_edit" type="submit" class="btn btn-warning">
          Edit Production Type
        </button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
