{% extends "layout.html" %}
<!-- enter the page title here!-->
{% block title %} Manage Types {% endblock %}
<!--head-->
{%block head %}
<!-- script to populate edit canvas based on the item selected for edit -->
<script>
  function populateCanvasI(itypeId, itypeName) {
    // Get the canvas element
    const editICanvas = document.getElementById("EditItypeCanvas");

    // Populate the canvas form fields
    editICanvas.querySelector("#edit-itype-id").value = itypeId;
    editICanvas.querySelector("#edit-itype-name").value = itypeName;
  }
  function populateCanvasP(ptypeId, ptypeName) {
    // Get the canvas element
    const editPCanvas = document.getElementById("EditPtypeCanvas");

    // Populate the canvas form fields
    editPCanvas.querySelector("#edit-ptype-id").value = ptypeId;
    editPCanvas.querySelector("#edit-ptype-name").value = ptypeName;
  }
</script>
<!-- arrival_table search and sort from datatables.net -->
<script>
  // load the dataTable after page load
  document.addEventListener("DOMContentLoaded", function () {
    $("#itype_table").dataTable({
      columnDefs: [
        {
          targets: [-1, -2, -3],
          orderable: false,
        },
      ],
    });
    $("#ptype_table").dataTable({
      columnDefs: [
        {
          targets: [-1, -2, -3],
          orderable: false,
        },
      ],
    });
  });
  //  an event listener to re-adjust column width on window resize
  window.addEventListener("resize", function () {
    var itable = $("#itype_table").DataTable();
    var ptable = $("#ptype_table").DataTable();
    itable.columns.adjust().draw();
    ptable.columns.adjust().draw();
  });
</script>
{% endblock %}
<!--body-->
{%block main %}
<div class="container mx-auto text-center">
  <div class="row">
    <div class="col">
      <h3 class="my-4">Existing Ingredient Types</h3>
      <!-- List of existing ingredient types -->
      <table id="itype_table" class="table table-striped w-auto mx-auto">
        <thead>
          <tr>
            <th>Ingredient</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for itype in itypes %}
          <tr>
            <td>{{ itype.name }}</td>
            <td>
              <form action="{{ url_for('types.itrack') }}" method="post">
                <input type="hidden" name="track" value="{{ itype.id }}" />
                <input
                  type="image"
                  src="/static/icons/arrow-right-square.svg"
                  alt="track"
                  name="itype_track"
                  title="Track {{ itype.name }}"
                />
              </form>
            </td>
            <td>
              <img
                src="/static/icons/pencil-square.svg"
                alt="edit"
                name="itype_edit"
                type="button"
                title="Edit {{ itype.name }}"
                data-bs-toggle="offcanvas"
                data-bs-target="#EditItypeCanvas"
                aria-controls="EditItypeCanvas"
                onclick="populateCanvasI(
                '{{ itype.id }}',
                '{{ itype.name|escape_html }}'
              );"
              />
            </td>
            <td>
              <form
                id="del-{{ itype.id }}"
                action="{{ url_for('types.delete_type') }}"
                method="post"
              >
                <input type="hidden" name="itype_delete" value="{{ itype.id }}" />
                <img
                  src="/static/icons/x-square.svg"
                  alt="delete"
                  name="itype_delete"
                  type="submit"
                  title="Delete {{ itype.name }}"
                  onclick="return confirmDelete('del-{{ itype.id }}', '{{ itype.name|escape_html }}');"
                />
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <button
        class="btn btn-success"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#AddItypeCanvas"
        aria-controls="AddItypeCanvas"
      >
        + Add New Ingredient Type
      </button>
    </div>
    <div class="vr px-0"></div>
    <div class="col">
      <h3 class="my-4">Existing Product Types</h3>
      <!-- List of existing product types -->
      <table id="ptype_table" class="table table-striped w-auto mx-auto">
        <thead>
          <tr>
            <th>Product</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for ptype in ptypes %}
          <tr>
            <td>{{ ptype.name }}</td>
            <td>
              <form action="{{ url_for('types.ptrack') }}" method="post">
                <input type="hidden" name="track" value="{{ ptype.id }}" />
                <input
                  type="image"
                  src="/static/icons/arrow-right-square.svg"
                  alt="track"
                  name="ptype_track"
                  title="Track {{ ptype.name }}"
                />
              </form>
            </td>
            <td>
              <img
                src="/static/icons/pencil-square.svg"
                alt="edit"
                name="ptype_edit"
                type="button"
                title="Edit {{ ptype.name }}"
                data-bs-toggle="offcanvas"
                data-bs-target="#EditPtypeCanvas"
                aria-controls="EditPtypeCanvas"
                onclick="populateCanvasP(
                '{{ ptype.id }}',
                '{{ ptype.name|escape_html }}'
              );"
              />
            </td>
            <td>
              <form
                id="del-p{{ ptype.id }}"
                action="{{ url_for('types.delete_type') }}"
                method="post"
              >
                <input type="hidden" name="ptype_delete" value="{{ ptype.id }}" />
                <img
                  src="/static/icons/x-square.svg"
                  alt="delete"
                  name="ptype_delete"
                  type="submit"
                  title="Delete {{ ptype.name }}"
                  onclick="return confirmDelete('del-p{{ ptype.id }}', '{{ ptype.name|escape_html }}');"
                />
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <button
        class="btn btn-success"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#AddPtypeCanvas"
        aria-controls="AddPtypeCanvas"
      >
        + Add New Product Type
      </button>
    </div>
  </div>
</div>
<!-- offcanvas to add a new ingredient -->
<div
  class="offcanvas offcanvas-start text-end"
  data-bs-scroll="true"
  tabindex="-1"
  id="AddItypeCanvas"
  aria-labelledby="AddItypeCanvasLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="AddItypeCanvasLabel">Add New Ingredient Type</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="container mx-auto">
      <form id="itype_form" method="POST" action="{{ url_for('types.types') }}">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="itype-name"
            name="name"
            autocomplete="off"
            required
            placeholder="Enter the ingredient name"
          />
          <label for="itype-name">Ingredient Name</label>
        </div>

        <button name="itype_form" type="submit" class="btn btn-success">Add Ingredient Type</button>
      </form>
    </div>
  </div>
</div>
<!-- offcanvas for ingredient type editing -->
<div
  class="offcanvas offcanvas-start text-end"
  data-bs-scroll="true"
  tabindex="-1"
  id="EditItypeCanvas"
  aria-labelledby="EditItypeCanvasLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="EditItypeCanvasLabel">Edit Ingredient Type</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="container mx-auto">
      <form id="itype_edit" method="POST" action="{{ url_for('types.edit_type') }}">
        <div class="form-floating">
          <input type="hidden" name="id" id="edit-itype-id" />
          <input
            type="text"
            class="form-control"
            id="edit-itype-name"
            name="name"
            autocomplete="off"
            required
            placeholder="Enter the Ingredient type name"
          />
          <label for="edit-itype-name">Ingredient Type Name</label>
        </div>

        <button name="itype_edit" type="submit" class="btn btn-warning">
          Edit Ingredient Type
        </button>
      </form>
    </div>
  </div>
</div>
<!-- offcanvas to add a new product -->
<div
  class="offcanvas offcanvas-end text-start"
  data-bs-scroll="true"
  tabindex="-1"
  id="AddPtypeCanvas"
  aria-labelledby="AddPtypeCanvasLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="AddPtypeCanvasLabel">Add New Product Type</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="container mx-auto">
      <form id="ptype_form" method="POST" action="{{ url_for('types.types') }}">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="ptype-name"
            name="name"
            autocomplete="off"
            required
            placeholder="Enter the product name"
          />
          <label for="ptype-name">Product Name</label>
        </div>

        <button name="ptype_form" type="submit" class="btn btn-success">Add Product Type</button>
      </form>
    </div>
  </div>
</div>
<!-- offcanvas for product type editing -->
<div
  class="offcanvas offcanvas-end text-start"
  data-bs-scroll="true"
  tabindex="-1"
  id="EditPtypeCanvas"
  aria-labelledby="EditPtypeCanvasLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="EditPtypeCanvasLabel">Edit Product Type</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="container mx-auto">
      <form id="ptype_edit" method="POST" action="{{ url_for('types.edit_type') }}">
        <div class="form-floating">
          <input type="hidden" name="id" id="edit-ptype-id" />
          <input
            type="text"
            class="form-control"
            id="edit-ptype-name"
            name="name"
            autocomplete="off"
            required
            placeholder="Enter the Ingredient type name"
          />
          <label for="edit-ptype-name">Product Type Name</label>
        </div>

        <button name="ptype_edit" type="submit" class="btn btn-warning">Edit Product Type</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
